[2020-10-05 20:48] minop1205 opened #3 "リファクタリング：ジェネリクスの型をanyにすべきか"
# リファクタリング

## 概要
現状、ジェネリクスの引数がunknown型になっているが、これだと**利用する際に型を用意しないとエラーになる。**
使い勝手を考えると `unknown` ではなく `any` にした方が良いのかもしれない。

## 目的・理由
ライブラリの使い勝手向上のため

## 手順や参考情報があれば
anyの場合、ジェネリクスに型を渡せばサジェストされるし、型を渡さなくてもエラーにはならない。
ただし、ライブラリ側でanyを許可することになってしまう。

[2020-11-05 20:56] minop1205 opened #6 "機能要望：テスト実装"
# 機能要望

## 概要
jest、react-testing-library を組み込んでテストを実装する

## 目的・理由
コンポーネントを安全にメンテナンス、拡張できるようにするため

## 参考情報
Jest公式サイト
https://deltice.github.io/jest/docs/ja/getting-started.html

TypeScript + Jestの設定
https://typescript-jp.gitbook.io/deep-dive/intro-1/jest

[2021-01-19 20:58] #6 closed, assigned to minop1205

[2021-01-21 00:06] #3 closed, assigned to minop1205

[2021-01-22 03:18] minop1205 opened #8 "機能要望：onDrop時にドロップ元とドロップ先を判別できるようにする"
# 機能要望

## 概要
onDropコールバックの引数に src, dist を追加する。

## 目的・理由
現状だと `onDrop` コールバックには新しいツリーしか渡されないが、これだと「何が」「どこに」ドロップされたかの判別が難しい。実際の使用時にはそういった情報をサーバに送るケースが多いため。

## 実装案があれば
src, dist は node_id でも良いが、ツリーアイテムを渡した方が使い勝手が良いはず。

[2021-01-23 11:11] #8 closed, assigned to minop1205

[2021-03-22 01:23] virus2016 opened #11 "Feature: drag from and drop to callback/handle"
Hi there,

It would be great to get a specific onDropItem handle on each node to get the from and to.

Example

[code]

Is this possible?

[2021-03-22 20:36] minop1205 commented on #11
@virus2016 Thanks for the message!

You can't set up event handlers on each node right now, but you can use the onDrop callback of the TreeView component to get the dragSource and dropTarget.

https://github.com/minop1205/react-dnd-treeview#ondrop-callback

[code]

These dragSource and dropTarget correspond to the from and to you are talking about, but is this not enough?

What the case would you

[2021-03-23 02:13] virus2016 commented on #11
@minop1205 thank you for this! I didn't read your ondrop callback, my fault however, It's amazing!

Great work on this project! We are starting to use it now.

[2021-03-23 02:13] #11 closed, assigned to nobody

[2021-03-23 02:25] minop1205 commented on #11
@virus2016
You are welcome.
I'm glad I could help!

[2021-03-30 10:22] younes-barhouni opened #12 "Open Folder Option"
Hi,
I was playing with this component and my remark is it would be great if add open option in tree data in order to open a folder on initial load

[2021-03-30 18:18] bcheidemann opened #13 "Disable Sorting & Drag/Drop Between Nodes"
Hi,

I was just wondering if there was a way to disable the automatic sorting of the nodes or to provide a n order in which I want them to be sorted e.g. an index property on the node would be great. I didn't see anything in the docs so unless I'm missing anything I guess this is a feature request! =P

Additionally, it would be great if you supported dropping between nodes - this would be really u

[2021-03-30 21:07] minop1205 commented on #12
You're right, there are likely use cases where it's necessary.
Right now, everything is initially closed, so I'll consider implementing it to pass an array of node IDs to be opened in advance.

[2021-03-30 21:20] minop1205 commented on #13
Right Now, The nodes are automatically sorted by name. You're right, there are likely use cases where we need to disable sorting or customize the sorting method, so we'll look into how to implement that.

As for dragging and dropping between nodes, it is a standard feature of this component, but is there any feature I am missing?

For example, in the following sample, drag and drop is possible.
ht

[2021-03-31 10:44] bcheidemann commented on #13
Hi, I hope you don't mind but I've taken the liberty to make a PR for this issue. Let me know if there's any modifications you'd like made. =)

[2021-03-31 11:56] bcheidemann commented on #12
This would be super useful!

[2021-04-01 06:35] minop1205 commented on #13
Thank you your contribute!!
I merged your PR. and I committed some tests too.

After responding to the following issue, I will publish to npm as a new version.
https://github.com/minop1205/react-dnd-treeview/issues/12

[2021-04-01 08:42] bcheidemann commented on #13
Thanks!

[2021-04-01 22:14] minop1205 opened #17 "Release v1.1"
- [x] update changelog
- [x] update csb samples
- [x] npm publish

[2021-04-02 01:37] #17 closed, assigned to minop1205

[2021-04-02 01:38] minop1205 commented on #12
Merged: https://github.com/minop1205/react-dnd-treeview/pull/16

[2021-04-02 01:47] minop1205 commented on #12
@younes-barhouni
I have addressed this issue by adding an API named initialOpen.
If you specify a Boolean value like the following, all folders will be opened initially.

[code]

Alternatively, you can pass an array of IDs as follows to initialize only specific nodes as open.

[code]

I have already released it as v1.1, so you can use it by updating the package.
Please let me know if you have any

[2021-04-02 01:49] minop1205 commented on #12
Here's a sample.
https://codesandbox.io/s/initialize-with-open-parents-ts-9nkw3

[2021-04-02 01:52] minop1205 commented on #13
@bcheidemann
I have released it as v1.1, so you can use it by updating the package.
If you have any problems, please create a new issue.

Thank you very much.

[2021-04-02 09:36] heyharii opened #20 "Node know whether it has child or not"
Hi, Thank you for your great headless component

I was just wondering if you don't mind to return ```hasChild``` also in the render params :)
So every node knew whether it has child or not :)

Need it to hide or show chevron :)

Thanks,

Hari

[2021-04-02 10:58] bcheidemann opened #21 "Drop events do not register when sourceNode.parent === targetId"
https://github.com/minop1205/react-dnd-treeview/blob/bae03af59b02698d211549ba7966c213b60faeed/src/hooks.ts#L73

Hi,

I understand why this has been implemented in this way, however, it would be great if there were a way to disable this behaviour. I can't share the true reason why I'm flagging up this behaviour as it's todo with a trade secret of my company. However, this could be useful to people

[2021-04-02 17:21] bcheidemann commented on #12
Thanks dude, that was fast! Have you already published a new npm version?

EDIT: never mind - I can see you've released a new version =)

[2021-04-02 17:23] bcheidemann commented on #13
Thanks, that's great to hear! I can't wait to use this in our project =)

EDIT: forgot to say - awesome work with this project by the way!

[2021-04-02 17:24] #13 closed, assigned to minop1205

[2021-04-03 10:30] bcheidemann commented on #21
I've started work on a PR for this by the way - I think we can do this in a way which preserves the current behaviour unless the user specified an alternative behaviour 👍

[2021-04-05 04:36] #12 closed, assigned to minop1205

[2021-04-05 05:19] minop1205 commented on #20
Merged: https://github.com/minop1205/react-dnd-treeview/pull/22

[2021-04-05 05:25] minop1205 commented on #20
@udahari Thanks for your message!

I decided that there is no downside to adding the hasChild property.

I've committed it so that you can use the hasChild property as follows

[code]

It's already merged, so I'll make it available in the v1.2.0 publish.

[2021-04-05 05:40] minop1205 commented on #21
@bcheidemann
Thank you!

Using the current behavior as a default, how about adding the following API to allow dropping between siblings (or self node)?

[code]

[2021-04-05 05:55] minop1205 commented on #20
I have just published v1.2.0.
If you update your npm package, you should now be able to use hasChild.

[2021-04-05 06:38] heyharii commented on #20
Thank you @minop1205

[2021-04-05 06:38] #20 closed, assigned to minop1205

[2021-04-05 07:20] sjrules opened #25 "Unable to drag from external source and drop it on the tree"
I was trying to drag from external source say div with similar data and drop it on to the tree , but it does not seem to work

[2021-04-05 08:30] minop1205 commented on #25
@sjrules What kind of "external source" are you referring to?
If you don't mind, could you show me some code or samples?

[2021-04-05 08:45] sjrules commented on #25
@minop1205  I have a draggable divs as below

 const tasks = [
    { name: "Product A", category: "sample", bgcolor: "yellow" },
    { name: "P B", category: "sample", bgcolor: "blue" },
    { name: "P C", category: "complete", bgcolor: "skyblue" }
  ]

useEffect(() => {
    var tasksData: any = {
      sample: [],
      complete: []
    }

    tasks.forEach((t: any) => {
      tasksData[t.categor

[2021-04-05 18:35] bcheidemann commented on #21
@minop1205
This one one way I thought to implement it and I would be happy to do it like this.

Alternatively, we could do something like this:

<Tree shouldDrop={(...args) => boolean} ... />

Default would be existing behaviour.

This would be more flexible but may be overkill.

Let me know which option you prefer! :)

[2021-04-06 00:16] minop1205 commented on #21
Passing the shouldDrop callback as you suggested is more flexible, so let's implement it this way.
But It's a very powerful extension, but depending on how you use it, it could potentially break the tree.

For example, dropping from parent to child as shown in the figure below may cause inconsistencies in the tree, but I think that is the user's own responsibility.

![react-dnd-treeview](https://u

[2021-04-06 07:44] minop1205 commented on #25
@sjrules Sorry, at the moment, i did not envision drop operations from external sources, so this package do not have such a feature.

However, there may be a use case where can add a new node from an external source using Drag&Drop, so i will consider adding this feature.

[2021-04-06 09:08] bcheidemann commented on #21
Yeah I agree - presumably if the user is defining behaviour like this they know what they're doing. But none the less, I will include a warning in the docs 👍 I like canDrop - that's seems quite intuitive to me.

[2021-04-12 00:46] minop1205 commented on #21
@bcheidemann I just released this feature as v1.3.0.
I have made some commits for the release. Please check this PR for details.
https://github.com/minop1205/react-dnd-treeview/pull/27

Thank you very much!

[2021-04-12 09:11] bcheidemann commented on #21
No problem at all, thanks for publishing it! :)

[2021-04-12 09:50] #21 closed, assigned to minop1205, bcheidemann

[2021-04-13 10:22] arunmenon1975 opened #29 "Support for mobile/touchevents"
I came across this library yesterday when i was looking for a viable DnD tree solution. The features that this library provides handles all my usecases, except for the support for touchevents/mobile. I am wondering if you are considering supporting this feature sometime.

Personally, for my project, mobile/touch support is a critical requirement. So to test the viability, i went ahead and forked t

[2021-04-13 17:52] minop1205 commented on #29
Thank you!
As you said, mobile/touch support is an issue for this component.

Ideally, the component should be able to determine the touch / click event without additional options, but it may be difficult.

I'll try it myself based on your comment.

[2021-04-13 18:51] arunmenon1975 commented on #29
ok, thanks for the comments. I think touch support is a reasonable requirement considering that web apps are increasingly accessed on mobile and similar touch enabled devices.

Incidentally I do have an alternate approach in place in my project but without DnD: a popover + wizard solution that is mobile-friendly but it is long-winded, in comparison.

The UX of a DnD-enabled tree is immense (in cer

[2021-04-17 10:19] pistacchio opened #30 "Sortable view"
Hi,
Thanks for the amazing library. Just a question. Imagine that I have a simple two-level structure (folders + files in it). How can I use read-dnd-treeview to sort the folders *or* the files within them?

Eg:

[code]

I want the interface to *not* allow dragging Folder 1 within Folder 2 or files in Folder 1 within Folder 2, but I *do want* to be able to drag File 1, File 2 and File 3 within Fol

[2021-04-17 15:00] minop1205 opened #31 "Bug：canDropコールバックの dropTargetId, dropTarget パラメータが意図した値にならない"
# レポート

## 現状の動作
canDropコールバックをセットしても、node.droppable = false に設定されているノードでは監視対象にならず、その親ノードのID（またはオブジェクト）が返される。

## 期待する動作
ドロップターゲットのID/オブジェクトが返されること

## 参考情報

Node.tsx の以下のコードを

[code]

この様に修正する必要がある

[code]

## TODO

- [x] ドキュメント修正
- [x] droppableフラグの必須解除とデフォルト指定
- [x] Node.tsx の条件変更
- [x] Changelog修正
- [x] バージョンの修正

[2021-04-17 15:23] minop1205 commented on #30
Thanks for your message!

Controlling whether or not to accept drop is possible with the canDrop API, but sorting by drag is currently not yet possible.

In order to enable sorting by drag, we need to extend the onDrop API to pass new parameters (e.g., target index value), and we will look into implementing this.

[2021-04-17 16:53] pistacchio commented on #30
That'd be a killer and much appreciated feature, thanks. I'm looking forward to it.

[2021-04-18 02:03] minop1205 commented on #31
canDropが設定されている場合は、node.droppable は不要なので、必須条件から外す。
未指定の場合、デフォルトを true にするか false にするかは要検討

[2021-04-18 02:14] minop1205 opened #32 "Bug：rootIdを0以外の値にするとルートコンテナへのドロップが出来ない"
# レポート

## 現状の動作
rootIdを0以外の値にするとルートコンテナへのドロップが出来ない

## 期待する動作
0以外の値（例えば文字列など）を設定してもドロップ可能になること

## 参考情報
Container.tsx の54行目の判定が正しくない。

## TODO

- [x] TreeContext / TreeProps の型定義リファクタリング
- [x] Container.tsx Line: 54 の判定条件修正
- [x] 文字列rootIdのテスト追加
- [x] Changelog修正

[2021-04-19 01:51] minop1205 commented on #32
merged: https://github.com/minop1205/react-dnd-treeview/pull/33

[2021-04-19 01:51] #32 closed, assigned to minop1205

[2021-04-19 21:21] minop1205 commented on #31
merged: https://github.com/minop1205/react-dnd-treeview/pull/34

[2021-04-19 21:21] #31 closed, assigned to minop1205

[2021-04-21 07:46] minop1205 opened #35 "リファクタリング：npmパッケージのアップデート"
# リファクタリング

## 概要
使用しているパッケージをアップデートする

## TODO
- [x] prettier設定の見直し
- [x] react-dndのBreakingChangeへの対応
- [x] distフォルダに__test__が出力されてしまっているのを修正

[2021-04-21 09:41] minop1205 commented on #35
devDependenciesに react と react-dom があるけど、これは良いんだっけ？

![image](https://user-images.githubusercontent.com/3772820/115532749-0c1ca300-a2d1-11eb-8cac-48641565c7af.png)

[2021-04-22 00:24] minop1205 commented on #35
Merged: https://github.com/minop1205/react-dnd-treeview/pull/36

[2021-04-22 00:24] #35 closed, assigned to minop1205

[2021-04-27 06:28] dgtllion opened #39 "Delete item"
Hi, is there a way to delete an item? If i put tree into state and pass the state to Tree afterwards remove an item the render isnt triggered. So the object is gone from the state but nothing is changed in DOM.
Is there a way how can i fix it?

[2021-04-27 07:16] minop1205 commented on #39
I think it will work if you use an immutable function when generating new tree states.

Try the following sample.
Enter the ID in the text field and click the REMOVE button, and the node with the corresponding ID should be deleted.

In this example, the filter method is used to generate a new node array.

https://codesandbox.io/s/full-features-js-forked-823jq?file=/src/App.jsx

[2021-04-29 18:24] dgtllion commented on #39
ah i see... i delete item from context menu witch doesnt got reference to my App... Now fixed it ;) Thanks a lot for you example!

[2021-04-29 18:24] #39 closed, assigned to minop1205

[2021-05-30 10:02] minop1205 commented on #29
I merged support for touch devices.
https://github.com/minop1205/react-dnd-treeview/pull/40

I use this module to automatically identify mouse events and touch events.
https://www.npmjs.com/package/react-dnd-multi-backend

This module is used to automatically identify mouse events and touch events.
It supports both mouse and touch events by default, so there is no need to add any new properties.

[2021-05-30 11:17] arunmenon1975 commented on #29
This is great news! I am looking forward to the release.

The tree is still not finalised in my project. Since the tree drag-drop interaction is critical (it may not be used heavily by the user but when it is used, it makes core changes that effects the very structure of the app as a whole) and has to be fully reliable, i have to make sure that the tree component in use works under all circumstanc

[2021-05-31 06:41] asith-w opened #41 "Question - Reorder items in same level"
Thank you for great library. could i know that is there way to reorder items in same level ?

as a example , if i drag and drop a item to same level ,currently it is dropped as subitem of target.
is it possible to drop item without creating sub item

![image](https://user-images.githubusercontent.com/5784846/120148996-b0fe9a00-c206-11eb-8fe0-bb8744e7d78a.png)

[2021-05-31 06:54] minop1205 commented on #41
For Drag and Drop at the same level, the default is to sort by name.

It is possible to do custom sorting using the sort property, but behavior such as inserting items at arbitrary positions is not possible in the current version.

I know that there are many requests for such a feature, so we recognize this as a high priority issue.

[2021-06-01 20:21] minop1205 commented on #29
Version 1.4.1 has been published today. (v1.4.0 is missing because of a mistake in fixing CHANGELOG.)

It adds support for touch devices by default, so no additional configuration is required.

You can try it out if you like.

[2021-06-06 08:55] arunmenon1975 commented on #29
I just tried it now with sample data and everything works fine.  The Tree is now touch-ready on a mobile as well. The fact that the `dragPreviewRender` prop is made available allows for customisation of the preview, a very useful option indeed.

Thanks for adding this feature. I will need to make some mods before i attempt it on my own data sources.

Closing the issue/feature-request since it is n

[2021-06-06 08:55] #29 closed, assigned to minop1205

[2021-06-23 12:10] jannnik opened #45 "Feature: Temporary disable dragging"
Thanks for the great library!

We have editable nodes which transform to a TextField when clicking on an edit button. When selecting a text in the TextField via click + mouse movement, the node is dragged unintentionally.
![image](https://user-images.githubusercontent.com/7594388/123093276-cb095200-d42b-11eb-9a42-f7e87482ca60.png)

To stop this behavior, we would like to disable dragging on all no

[2021-06-24 01:37] minop1205 commented on #45
@jannnik Thanks for your message!
I think it's a good and versatile feature.

I will add `canDrop` property in next publish.
(In addition to this, I am also considering adding a `draggable` property (default = true) to each node.)

[2021-06-25 09:56] hungnguyen1412 opened #46 "Should be dropped between 2 nodes"
I mean, we have a tree likes that:
--node 1
--node 2
--node 3

I drag and drop the `node 3` between node 1 and node 2, it becomes:
--node 1
--node 3
--node 2

Thanks

[2021-06-25 10:05] minop1205 commented on #46
Thank you for your comments.
This issue is currently being addressed, but will be closed as it overlaps with the following issue.
https://github.com/minop1205/react-dnd-treeview/issues/41

[2021-06-25 10:05] #46 closed, assigned to minop1205

[2021-06-27 20:52] minop1205 commented on #45
I published beta version that includes canDrag feature.
please install this version bellow and make sure canDrag feature!

[code]

If you want to prohibit dragging the entire treeview, do the following

[code]

If you want to prohibit dragging only on a specific node, do the following

[code]

**NOTE:**
Even if you prohibit the dragging of a specific node with canDrag, the parent node will still b

[2021-07-09 01:21] minop1205 commented on #45
Merged: https://github.com/minop1205/react-dnd-treeview/pull/48

[2021-07-09 01:31] minop1205 commented on #45
v1.4.2 has been published.

There are two fixes in this version.

1. Fixed a bug where the text in the text input box could not be selected with the mouse.
2. added a new canDrag property.

For 1, since it is a bug, it was handled by default without any special settings. Therefore, the canDrag property is not needed to support text selection.

example:
https://codesandbox.io/s/editable-ts-cl3wi

T

[2021-07-09 01:31] #45 closed, assigned to minop1205

[2021-07-19 17:02] jannnik commented on #45
Thank you so much, this solves our problem excellently!

[2021-08-19 04:46] minop1205 commented on #41
This issue is now supported in v1.5.0. Please refer to the README or the sample below for details.
https://codesandbox.io/s/placeholder-ts-w71l5

If you have any problems, please reopen this issue.

[2021-08-19 04:46] #41 closed, assigned to nobody

[2021-08-19 05:00] minop1205 commented on #30
This issue is now supported in v1.5.0. Please refer to the README or the sample below for details.
https://codesandbox.io/s/placeholder-issue-30-680ss
https://codesandbox.io/s/placeholder-ts-w71l5

To implement manual sorting and placeholders, use the new APIs such as `sort`  `insertDroppableFirst`  `canDrop` `dropTargetOffset` and `placeholderRender`.

By combining these APIs, you can achieve the

[2021-08-19 05:00] #30 closed, assigned to minop1205

[2021-08-20 10:07] bensalilijames opened #55 "Feature: add callback prop when changing open item IDs"
Thank you for this fantastic library! 🙌

One thing that I think it would be great to add is a function prop that is called whenever an item is toggled between being open and being closed, something like:

[code]

This would be useful for serialising the current open IDs state to `LocalStorage`, so that when the user refreshes the page, it can be passed to `initialOpen`, and the collapsed state of

[2021-08-20 21:35] minop1205 commented on #55
@benhjames Thank you!
That's one simple, easy to use API!
I'll work on the implementation as soon as possible

[2021-08-23 01:08] minop1205 commented on #55
@benhjames Now i pablished v1.5.1 with `onChangeOpen` callback API.
Please check sample bellow and README.
https://codesandbox.io/s/onchangeopen-callback-issue-55-h6fg5

If you find any bugs, please let me know!!

[2021-08-23 10:19] bensalilijames commented on #55
Thanks so much for such a quick implementation! It works great! 🙌

Only one small issue, it appears that the TypeScript definition for `onChangeOpen` doesn't exist in `dist/Tree.d.ts` in the published package `v1.5.1`:

[code]

I guess must be something weird when building/publishing the package since the source looks correct!

[2021-08-23 21:10] minop1205 commented on #55
@benhjames Thanks for the report!!
I was able to identify the cause of the problem where the type definitions were not updated after the build.

We have released the fixed version as v1.5.2, so please try it.

[2021-08-24 09:49] bensalilijames commented on #55
Thanks, that's solved it! Thanks for your help! ❤️

[2021-08-24 09:49] #55 closed, assigned to minop1205

[2021-09-01 15:52] jannnik opened #59 "Feature Request: Allow styling of the listItemComponent"
# Feature request

## Summary

Allow styling of the listItemComponent when it is not a dragSource or dropTarget.

## Purpose / Reason

We want to add a dashed 1px border to the listItemComponent when it is a dropTarget. To prevent the items from jumping around while dragging, we also need to add a transparent 1px border to all listItemComponents. Unfortunately, it is not possible to style the list

[2021-09-03 22:28] minop1205 commented on #59
@jannnik Thank you for the feature request.

I have just implemented the feature in the following CodeSandbox, is it working as you intended?

https://codesandbox.io/s/full-features-issue-59-twpze

I made it possible to specify classes.listItem.
I also specified classes.root to have the same effect for dropping to the root.

The following two files are related to this feature.
https://codesandbox.

[2021-09-06 10:06] jannnik commented on #59
@minop1205  Great, it works as expected! Thank you!

[2021-09-08 01:44] minop1205 commented on #59
@jannnik Thank you your verification!
I merged it and published as v1.5.3

https://github.com/minop1205/react-dnd-treeview/pull/60

[2021-09-08 01:44] #59 closed, assigned to minop1205

[2021-09-08 11:16] chris-oms opened #62 "機能要望：Pass depth prop in canDrop callback"
I need to set a maximum nested depth, but in order to do that I need the `depth` prop to be passed through in the canDrop callback. Is this something that could be added?

[2021-09-08 11:18] chris-oms opened #63 "不具合報告：Cannot drag and drop node to root"
I'd like to be able to take a nested node and drag it to the root (so that it's parent becomes 0). Is this something that can be added?

[2021-09-09 01:40] minop1205 commented on #63
@chris-oms Yes, it is possible. Please look at the following example.

![example](https://user-images.githubusercontent.com/3772820/132607401-76704bd0-d0dd-4756-bc2c-1f740b0ad4ac.gif)

In this example, I drop a node named `Folder 2-1` into the root.

(in CodeSandbox)
https://codesandbox.io/s/full-features-js-itczn

**NOTE:**
To drop to the root, the route area must have a space. Therefore, you nee

[2021-09-09 02:32] minop1205 commented on #62
@chris-oms Thank you for your request!

Since the canDrop callback is not intended for a specific use case, only minimal parameters are passed.
Therefore, you should use these parameters to create your own custom functions.

I have created a sample for this use case, please refer to the demo below.
https://codesandbox.io/s/maximum-depth-feature-62-rwie5?file=/src/App.jsx

Here I have created a cus

[2021-09-09 09:30] chris-oms commented on #63
@minop1205

Thanks for the quick reply, and yes you're completely right! Adding a bit of bottom padding did the trick for me. Thank you.

[2021-09-09 09:30] #63 closed, assigned to minop1205

[2021-09-09 12:49] chris-oms commented on #62
Once again, thank you for your prompt reply and solution. This works perfectly, many thanks!

[2021-09-09 12:49] #62 closed, assigned to minop1205

[2021-09-09 13:23] synapse opened #64 "Feature：Add click event on the root UL element"
Hey @minop1205 , just want to say that by far this is the best and most versatile tree component so far.
I would like to ask you if there's a way to add a click event on the root UL in order to unselect everything?
You can see that same functionality in VSCode by selecting a folder/file and then hitting the empty space below.

[2021-09-10 00:40] minop1205 commented on #64
@synapse Thanks for the feature request!

At the moment, there is no way to set onClick for the root UL.

In this case (deselecting the root UL by clicking on it), it is possible to wrap the entire Treeview and set the event handler there, as shown below.

https://codesandbox.io/s/multiple-selections-issue-64-epqtf?file=/src/App.tsx

However, since this is a hack-like approach, I think it would be

[2021-09-20 16:53] jannnik opened #65 "Bug report: Dragging not possible after editing a node without hovering in Firefox"
# Report

## Current behavior
`unlock` after editing only works when the input gets unhovered or unfocused while saving (in Firefox).

The `useDragControl` controls a lock which should be relased after editing. The `unlock` is trigged by `handleMouseOut` and `handleFocusOut`.
When working only with the keyboard as in the sandbox, mouseout does not work. focusout seems to be trigged in Chrome when

[2021-09-22 06:19] Nerevar123 opened #66 "Error during installation, React 17"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When installed via 'npm install @minoru/react-dnd-treeview' got errors:

`npm WARN ERESOLVE overriding peer dependency
npm

[2021-09-24 01:06] minop1205 commented on #66
@Nerevar123 Thanks for the error report!

I checked it in npm version you reported and found the error on my environment as well, so I fixed the dependency.

I've just published it as v1.5.4, so please try again.

[code]

[2021-09-26 07:44] Nerevar123 commented on #66
Now it works, thank you

[2021-09-26 07:44] #66 closed, assigned to minop1205

[2021-09-27 02:15] minop1205 commented on #65
@jannnik  Thank you for your report!

The reason seems to be that the input blur event does not fire when input is unmounted with Enter without removing focus from the input element.

From the Treeview library side, It doesn't know the structure of the node (CustomNode), so it is listening `focusout` where bubbling is enabled instead, but I think it's probably related to the above blur behavior an

[2021-09-27 09:44] jannnik commented on #65
Thanks, this workaround works for our implementation. Unfortunately, I also have no idea how to solve this in the library in an elegant way.

[2021-09-29 01:42] minop1205 commented on #65
@jannnik I published new version that solves this problem on the library side as v1.5.6.

It uses MutationObserver to detect unmounting of the focused element and unlock it if the focus is initially set to the body element after unmounting.

I think you've already solved the problem with another workaround,
but in the new version, I think it will work as expected without the need to focus out with

[2021-09-30 06:38] Nerevar123 opened #69 "Error: Expected drag drop context"
The application crashes with this error:

![image](https://user-images.githubusercontent.com/65253367/135399290-35c2add5-04c3-4dc9-a749-13fb5eb50836.png)

Uninstalling and updating the package did not help, any ideas?

[2021-09-30 07:17] Nerevar123 commented on #69
Deleting node_modules and package-lock helped, can be closed

[2021-09-30 07:33] minop1205 commented on #69
@Nerevar123
Thanks for the report.
I just tried it in a different environment and got the same phenomenon.
I will investigate.

[2021-09-30 23:29] minop1205 commented on #69
@Nerevar123
I looked into this issue and found that there was a problem with the package dependencies.
I have fixed it and published it as v1.5.7.

If you still have any problems, please reopen this issue.

[2021-09-30 23:29] #69 closed, assigned to minop1205

[2021-09-30 23:52] minop1205 commented on #65
@jannnik  Sorry, v1.5.6 had an dependency problem.
I had fixed it in v1.5.7 and published.
https://github.com/minop1205/react-dnd-treeview/issues/69

If you still have any problems, please reopen this issue.

[2021-09-30 23:52] #65 closed, assigned to minop1205

[2021-10-05 23:36] PurplePineapple123 opened #71 "Adding Demo To Source Code"
Would you be open to adding a working demo to the source code? I know demos are available on codepen, however, I wanted to fork the repo and play around with it on a localserver. Thanks!

[2021-10-06 00:34] minop1205 commented on #71
Thank you for your message.

I am sorry, but I do not plan to include the demo code in the repository at this time.
However, I am currently migrating each demo to Storybook, so you will be able to use Storybook in the near future to try things out on your local server.

You can also export the public CodeSandbox demos to your own repository.

You can open any demo screen of CodeSandbox and create

[2021-10-07 03:07] minop1205 commented on #64
Merged: https://github.com/minop1205/react-dnd-treeview/pull/72

[2021-10-07 05:13] minop1205 commented on #64
I added an API called rootProps to set arbitrary properties on the root node, and published it as v1.5.9.

You can use rootProps to set the onClick callback as follows

[code]

The following is a sample of clicking on the root area to deselect it.
https://codesandbox.io/s/multiple-selections-ts-eud8c?file=/src/App.tsx

[2021-10-07 05:13] #64 closed, assigned to minop1205

[2021-10-11 19:18] martinmoesby commented on #71
I am trying to figure out how the manual sort callback function works, but cannot seem to get it to work.
My data does contain a Sortorder key and most nodes, are correctly places in the tree - but some nodes at placed at the bottom, even though the node should be placed in the middle (at root leve with parent = 0)

Is it possible to get en example of the callback function for the manual sort?

[2021-10-11 20:25] minop1205 commented on #71
@martinmoesby
The sort API should be passed a comparison function.
Do you find the following sample useful?

https://codesandbox.io/s/custom-sort-js-znkrh?file=/src/App.jsx

NOTE:
By default, nodes that are droppable are placed before nodes that are non-droppable. To disable this and have them both sorted at the same level, set the `insertDroppableFirst` property to `false`.

[2021-10-11 21:47] martinmoesby commented on #71
Thank you - this was just what I needed :)

[2021-10-12 08:50] martinmoesby commented on #71
Just one other question/remark...
When implementing this using TYpeScript, I get an error: "Type '(a: NodeModel<IHierarchyNode>, b: NodeModel<IHierarchyNode>) => 1 | 0 | -1' is not assignable to type 'boolean | SortCallback | undefined'.

              sort={(a:NodeModel<IHierarchyNode>, b:NodeModel<IHierarchyNode>) => {
                if (a.data!.sortOrder > b.data!.sortOrder) {

[2021-10-13 02:06] minop1205 commented on #71
@martinmoesby Thanks for the bug report!

I checked the code and found that the type definition of the sort callback did not support generic types.

I've just fixed it and published it as an alpha version, so please try it.

[code]

Please let me know if you have any problems.
If there are no problems, I will include it in the next official release.

[2021-10-14 07:25] renzhiVivio opened #73 "Expected drag drop context error"
Hello, a part of my codes leading error is showing below:

ReactDOM.render(<div className={styles.app}>
          <Tree
            tree={tree}
            rootId={0}
            render={(
              node: NodeModel<CustomData>,
              { depth, isOpen, onToggle }
            ) => (
              <CustomNode
                node={node}
                depth={depth}
                isOpen=

[2021-10-14 07:31] minop1205 commented on #73
@renzhiVivio Thanks for the error report.

What version of the package are you using?
Or can you show us the contents of package.json?

[2021-10-14 07:35] renzhiVivio commented on #73
Thanks for your quick reply!

"@material-ui/core": "^4.12.3",
"@material-ui/icons": "^4.11.2",
"@minoru/react-dnd-treeview": "^1.5.9",
"react-dnd": "^14.0.4",
"react-dnd-html5-backend": "^14.0.2",

does it matter I have my own react-dnd dependencies?

[2021-10-14 21:19] minop1205 commented on #73
@renzhiVivio Thanks for the detailed information.

@minoru/react-dnd-treeview uses react-dnd v13.1.1 internally.
This is because some of the packages used by @minoru/react-dnd-treeview specify react-dnd v13.1.1 in peerDependencies.

Therefore, if you overwrite the installation with react-dnd v14, the dependency will be broken and you will get an error.

To avoid the error, please remove react-dnd

[2021-10-16 05:25] renzhiVivio commented on #73
that's a bad news， our app is based on react-dnd v14. And as I research, v13 to v14 is huge diff
Anyway, thanks for your kindly reply

[2021-10-16 05:25] #73 closed, assigned to nobody

[2021-10-21 21:22] maxivane opened #74 "t.tree.filter is not a function"
Hello, I use nodejs and this error is giving me, does anyone know how to solve it?

![image](https://user-images.githubusercontent.com/23021447/138358686-bf7c670a-784a-4d14-af06-e1af130ba971.png)

[2021-10-22 01:06] minop1205 commented on #74
@maxivane thank you for your report!
Please give me some more information to help me solve this problem.

- node version
- npm version
- this package version
- and other dependencies (in package.json)

Or if there is any way to reproduce the error, please let me know.

[2021-10-26 21:22] minop1205 commented on #71
Merged: https://github.com/minop1205/react-dnd-treeview/pull/75/files

I published it as v1.5.10

[2021-10-26 21:22] #71 closed, assigned to minop1205

[2021-10-31 05:37] code-dev-pro opened #77 "Add / delete / duplicate node"
It will be great to add or delete or duplicate a node.
Thanks.

[2021-11-02 13:58] yagizhanavci commented on #74
If you are using any state manager that uses proxies like mobx , this error occurs. I have the same problem.
Mobx versions:
 "mobx": "^6.3.2",
 "mobx-react": "^7.2.0",

[2021-11-02 15:39] minop1205 commented on #74
@yagizhanavci Thanks for the detailed info!

I think it is probably due to the use of immer inside the Treeview package.

I've just published a version that doesn't use immer, can you try this one?

[code]

If everything looks good, I will include this fix in the next official release.

[2021-11-07 20:37] #77 closed, assigned to nobody

[2021-11-09 21:51] jcestefan opened #79 "`key` property in `Node` object"
Hi! thanks for this great component!

I'm using a custom node and it's working great. Although, in web console it throws this warning.

![image](https://user-images.githubusercontent.com/42579382/141009998-f2e059fc-6fb3-463d-9581-a9c8ea85b92e.png)

It seems to be that `Node` doesn't have a unique `key` prop which is recommended to use in React apps.
It would be great to have this `key` and be able

[2021-11-10 01:14] minop1205 commented on #79
@jcestefan Thanks for your report.

What is the version of @minoru/react-dnd-treeview you are using?

Also, can I see the code where the tree component is used?
I would like to know what properties are being set.

[2021-11-10 14:58] jcestefan commented on #79
Version: tested in 1.5.9 and 1.5.10.

Yes, sure:

[code]

As you can see, I added a `key={node.id}`, but it doesn't do anything.

[2021-11-11 09:23] Nerevar123 opened #81 "Feature Request: styling for 1st-level items"
# Feature request

Hi @minop1205, is it possible to add the ability to style the top-level list items?

For realisation like this:

![image](https://user-images.githubusercontent.com/65253367/141271725-e2b3d4a4-f208-4de3-b656-6135ddee2102.png)

[2021-11-11 12:16] Nerevar123 opened #82 "Feature Request: add isDragging and isDropTarget node properties"
Add props isDragging and isDropTarget - like 'dropable' prop, which show the current state of a node if it is a drop target or on dragging.
This will add the ability to style a specific node, not a whole sub-tree, like with current classes draggingSource and dropTarget.

Asking about props because I`m using styled-components in a project, but classes will help as well :)

[2021-11-12 00:55] minop1205 commented on #81
@Nerevar123

Changing the style only for top-level items is possible by using the classes property or the `depth` option of render.

The classes property allows you to define the class name of the root ul, so for example, you can style only the items in the top-level hierarchy with the following selector

[code]

Click here for a sample.
https://codesandbox.io/s/full-features-issue81-1-e7ysh

Also

[2021-11-12 01:36] minop1205 commented on #79
@jcestefan thank you for the detail information.

Since every node must have a unique `id`, the newFolder below must also be given an `id` property.

[code]

Looking at the code you provided, it looks like

[code]

In this part of the code, a newFolder with no id is added, which causes an error in the console.

[2021-11-12 08:08] Nerevar123 commented on #81
thanks for the detailed answer, did not think about it

[2021-11-12 08:08] #81 closed, assigned to minop1205

[2021-11-12 14:43] jcestefan commented on #79
Oh my, I didn't check that 🤦‍♂️

Thanks a lot!

[2021-11-12 14:43] #79 closed, assigned to minop1205

[2021-11-12 23:06] minop1205 commented on #74
I have published v1.5.11 today. This version does not use immer to generate new node arrays, so it does not conflict with libraries like mobx that use proxy.

If the problem still occurs, it would be helpful if you could give me a minimal configuration to reproduce it.

[2021-11-12 23:06] #74 closed, assigned to minop1205

[2021-11-13 22:52] minop1205 commented on #82
@Nerevar123 Thank you for the feature request!

I've released an alpha version that adds two flags `isDragging` and `isDropTarget` to the option passed to the render callback. You can install it with the following command

[code]

You can use it as shown in the sample below.
https://codesandbox.io/s/issue-82-y5mb6?file=/src/App.jsx

Try it out. If there are no problems, I will include it in the ne

[2021-11-15 08:58] Nerevar123 commented on #82
I tried it, works great.

Thank you!

[2021-11-16 12:16] themre opened #83 "Unable to reorder items"
Hi,
Great library! I was testing your examples and when I'm inside a folder, I'm unable to reorder files. Is this some config that I need to enable?
Example: https://codesandbox.io/s/minimum-configuration-ts-wjigd

[2021-11-17 01:24] minop1205 commented on #83
@themre
To perform manual sorting, you need to use a combination of the following properties

- sort
- insertDroppableFirst
- canDrop
- dropTargetOffset
- placeholderRender

For more information, please refer to this section.
https://github.com/minop1205/react-dnd-treeview#manual-sort-with-placeholder

Here is a customized version of the sample you provided.
https://codesandbox.io/s/issue83-qqze5?

[2021-11-17 13:46] dgtllion opened #84 "subscribe onDragStart & onDragEnd"
Hi @minop1205,

Is there a way how i can subscribe on those events of ul/li?
I have my `CustomNode.tsx`, but if i add `onDragStart` and `onDragEnd` then it doesnt do anything.

Or may be can you pass in `Node.tsx` the ref?

[code]
Then i can catch the ref in my `CustomNode.tsx`.

[2021-11-18 05:11] minop1205 commented on #82
Merged: https://github.com/minop1205/react-dnd-treeview/pull/85

[2021-11-18 05:11] #82 closed, assigned to minop1205

[2021-11-18 05:16] minop1205 commented on #84
@dgtllion In fact, it is the li element that wraps the CustomNode that is being dragged, so setting an event handler on the CustomNode itself will not fire the event.

Therefore, we may need to add a new API to the Tree component.

[2021-11-18 06:07] dgtllion commented on #84
Ok, there will be a new release for it? What and when to expect?
But the second question is it possible to pass the `ref` with params?

[2021-11-18 07:05] dgtllion commented on #84
I made a workaround which is working, may be its good to add to examples or update documentation? (You can also pass Components to `listItemComponent={Component}`)

i created `MainNode.js` looks like this:
[code]
And this `MainNode` i passed to my `Tree`

[code]

[2021-11-18 20:50] minop1205 commented on #84
@dgtllion Thank you!

I tried the code you provided. The onDragStart/onDragEnd does indeed fire.
(However, if I repeatedly drag/drop a node, the event fires multiple times, so I may need to disable the listener somewhere.)

However, in react-dnd-treeview, the CustomNode wrapper element (`<li>`) is under the control of **react-dnd**, and if the event handler is not registered via react-dnd, it may

[2021-11-19 11:37] dgtllion commented on #84
Thank you... I will wait for it.

[2021-11-20 23:54] minop1205 commented on #84
@dgtllion I have just made an alpha release of v1.6.0.
Please install and try it with the following command.

[code]

In this version, two APIs, `onDragStart` and `onDragEnd`, have been added. Please use them as follows.

[code]

In both handlers, the node to be dragged is passed.

When a drag operation is canceled (by pressing the escape key or dropping into a non-dropable area), only onDragEnd w

[2021-11-21 11:52] dgtllion commented on #84
@minop1205 works good! Now the only thing that i miss is `event` itself. Can you also include it to params?
In my case its necessary to have event.

[code]

And may be its also a good idea to pass the events to other functions where events are fired? like `onDrop`?

[2021-11-21 21:34] minop1205 commented on #84
@dgtllion Thank you.

I looked into the interface of the dependent package, `react-dnd`, but I couldn't find a way to access the native events at drag start and drag end.
https://react-dnd.github.io/react-dnd/docs/api/use-drag

So, if you need to access native events, it might be better to implement it in the following way that you first suggested.
https://github.com/minop1205/react-dnd-treeview/i

[2021-11-22 07:14] dgtllion commented on #84
@minop1205 i need to set some text which will be dropped to WYSIWYG editor. ;)
[code]

Strange that `react-dnd` doesn't provide it... Then the only way now is to do it like i told.

I think the documentation needs to be updated. `listItemComponent: Component | string`

And btw your JSX examples in documentation doesn't work as well.

[2021-11-24 17:56] 55Cancri commented on #25
@minop1205 please add ability to drop from external source. I've been going down this list of dnd tree libraries (https://www.reddit.com/r/reactjs/comments/ch7o2n/best_react_tree_nested_sortable_drag_drop/) and none of them so far seem to support drag and drop from external source.

In my case, I have images I want to drop over a folder, and then have the image name show up as a leaf under the fol

[2021-11-24 20:19] dgtllion opened #86 "Add tree items on the fly and the main item (folder) is open"
Hi again @minop1205,

Im trying to add folder and 2 files on existing tree and i want that folder will be opened after i add it.
Is there a way how i can do that?

i tried this below but this dont work.
[code]

[2021-11-25 01:22] minop1205 commented on #84
@dgtllion In the end, I thought the simplest way was to add a ref to the first render option that you suggested.

[code]

The containerRef above contains a DOM reference to the container (li element) of the custom node.
You can then access the native drag event by adding an event listener on the custom node side as shown below.

[code]

Here is a sample that actually works.
https://codesandbox.io/

[2021-11-25 02:01] minop1205 commented on #86
@dgtllion Is the following Open method useful?
https://github.com/minop1205/react-dnd-treeview#usage-to-open--close-methods

[2021-11-25 06:55] dgtllion commented on #84
@minop1205 this works nice! thank you!

Now i see it works... strange. nvm :)

[2021-11-25 07:20] dgtllion commented on #86
@minop1205 i try this example but it doesnt work.
Do i something wrong?

[code]

[2021-11-25 07:48] dgtllion commented on #86
Is there a way how i can open multiple folders at the same time?

Lets say i have a file that is on level 4. How i can open only parent folders where the file is located?
This is more from the search perspective. If i found a file on that level how can i open all other parent folders.

[2021-11-25 09:29] minop1205 commented on #86
@dgtllion Please refer to this page for more information.
https://codesandbox.io/s/issue86-3eb5p

The open/close methods can also specify an array.

Alternatively, these methods will only accept IDs that are already in the tree, so they will be ignored if run at the same time as setTreeData. Therefore, they need to be executed asynchronously using setTimeout, etc.

[2021-11-25 09:58] dgtllion commented on #86
aaa i see the timeout did the trick, thanks!

Everything works! ;)

[2021-11-25 09:58] #86 closed, assigned to minop1205

[2021-11-25 09:59] dgtllion commented on #84
When do you expect to make a release 1.6.0?

[2021-11-25 21:22] minop1205 commented on #84
@dgtllion Did you solve the problem with this version?
https://github.com/minop1205/react-dnd-treeview/issues/84#issuecomment-978713803

If there are no problems, i will add more tests and fix the documentation after this, so i plan to release it by the end of next week at the latest.

[2021-11-26 08:01] dgtllion commented on #84
@minop1205 no issues.. Everything works ;)
Ok thanks!

[2021-12-01 00:50] minop1205 commented on #84
Ihave just released v1.6.0.
See here for the release details.

https://github.com/minop1205/react-dnd-treeview/blob/next/CHANGELOG.md

Thank you

[2021-12-01 00:50] #84 closed, assigned to minop1205

[2021-12-01 00:50] #83 closed, assigned to minop1205

[2021-12-07 11:25] dbfernandes opened #88 "Error when using Tabs with different TreeViews"
Hi @minop1205,

First of all, congratulations for the excellent package!

I'm trying to use Tabs (eg @mui/material/Tab) to navigate between different TreeViews. Let's say I have a set of tabs and each of them has a TreeView. When I open folders (or drag/drop files) from one tab, then go to another tab and go back to the previous tab, everything that was done in the first tab (open folders or drag/

[2021-12-07 12:18] dbfernandes commented on #88
Sorry, there was a problem in my code. I'm going to close this issue, reformulate the code, and then open the issue again.

[2021-12-07 12:18] #88 closed, assigned to minop1205

[2021-12-07 12:22] minop1205 commented on #88
@dbfernandes Thanks for the message. I just looked at the code too, and it looks like the State is initialized because the TreeView component is unmounted when switching tabs.

[2021-12-11 21:05] iames opened #89 "Feature request: drag items by handle"
# Feature requests

## Overview

An option to add a handle to each row to start dragging. Instead of start dragging by clicking anywhere in the row add a new element and only start dragging by clicking that handle.

## Purpose / Reason

In mobile devices sometimes scrolling over a tree (with the finger) is interpreted as a drag-and-drop action and the tree is messed.

## Any implementation ideas?

[2021-12-21 13:31] eoinomeara11 opened #90 "Allow drag of multiple items to target folder. Each item does not have to start in the same source folder."
The Multiple selections(checkbox) example does allow multiple select but does not allow multiple drag.

[2021-12-24 11:20] eoinomeara11 opened #91 "Manual Sort: When tree is scrollable scrolling to bottom and then dragging any node results in the placeholder being in the wrong place, offset by the scroll distance."
Manual Sort: When tree is scrollable scrolling to bottom of tree and then dragging any higher node results in the placeholder being in the wrong place, offset by the original scroll distance. Bug.

[2022-01-01 18:13] lightandbright commented on #73
I also experience this issue. Tried to install react-dnd@13.1.1 still does not work. Also, going back to dnd 13 is a problem as per renzhiVivio comment.

Any chance of a new release addressing this issue? Thanks

[2022-01-01 18:15] lightandbright opened #92 "ERROR: Expected drag and drop context"
I also experience this issue (as some others seem to do). Tried to install react-dnd@13.1.1 still does not work. Also, going back to dnd 13 is a problem as per renzhiVivio comment.

Any chance of a new release addressing this issue? Thanks

[2022-01-06 03:59] minop1205 commented on #91
@eoinomeara11 Thanks for the report.

After checking, we found that some of the CSS in the sample was incorrect: the `top: 0` was not mentioned in the style of the placeholder component, and the `position: relative` was not set on the parent element.

I have fixed sample code of placeholder.
I have also created a sandbox for checking this fix here, so please check it out.
https://codesandbox.io/s/

[2022-01-06 08:40] minop1205 commented on #92
@lightandbright  package currently depends on the following packages
https://github.com/LouisBrunner/dnd-multi-backend/tree/main/packages/react-dnd-multi-backend

Since this dependency package only supports react-dnd v13, we are unable to increase the version of react-dnd.
The development of react-dnd-multi-backend seems to have stopped for a while, so we are considering to stop using it in future

[2022-01-07 23:17] eoinomeara11 commented on #91
Hi,

Many thanks for your help. The two changes you suggested have fixed my production code.

Regards,
Eoin.
On 6 Jan 2022, 3:59 AM +0000, minop1205 ***@***.***>, wrote:

[2022-01-08 09:41] #91 closed, assigned to minop1205

[2022-01-09 12:08] ayoub-root commented on #89
is there any updates about this issue? i have the same problem

[2022-01-09 13:36] ayoub-root commented on #89
i solved it by the following
add new boolean variable
const [dragHandler,setDragHandler]=useState(false)
canDrag (node)=>{
if(dragHandler) return true
}
....
render(node,{.....})=>{
return(<CustomNode. ...... handleDrag={e=>setDragHandler(e) } )/>)
}

inside the customNode   i added IconButton

  <IconButton
              draggable='true'
              onDragStart={()=>props.handleDrag(true)}

[2022-01-13 16:09] mkamalkayani commented on #92
I really liked this library and wanted to try it out but I am getting this error.

I had `react-dnd` and `react-dnd-html5-backend` v11.1.3 and got this error, I updated both to v14.0.5 and still getting this error.

[2022-01-14 05:30] minop1205 commented on #92
@mkamalkayani Thanks for the report.

This time I have reviewed the package dependencies and modified them to work with the latest react-dnd.
I also changed react-dnd to peerDependencies so that it will not be installed automatically.
Since it is now published as an alpha version, can you please install it with the following command and check if it works?

[code]

[2022-01-14 13:49] mkamalkayani commented on #92
@minop1205 Yes, by following your suggestions it works. Thanks.

There is one thing worth consideration. I have a `<DndProvider backend={HTML5Backend}>` at the top level of my application. If I comment out this provider then I again get this error. Based on this I assume that a `DndProvider` has be present at a top level for this to work.

[2022-01-14 14:34] minop1205 commented on #92
@mkamalkayani Thanks for the confirmation.

@minoru/react-dnd-treeview has a `<DndProvider>` inside the component, which seems to conflict with it.

Considering the various use cases, it might be better not to have `<DndProvider>` inside this package.

I have just published a version that removes this `<DndProvider>` from the package.
Now that we have updated the alpha version, you can install it

[2022-01-14 16:27] mkamalkayani commented on #92
@minop1205 Works perfectly. Thanks for the update.

I would agree, not including the `DndProvider` inside the package will give the user flexibility to either use the existing `DndProvider` or add a new one.

[2022-01-14 23:43] minop1205 commented on #92
Thank you very much.

Removing the DnDProvider from the component, it will not be compatible with past versions, so a major version upgrade will be required. Please wait a little bit until the official release, as we need to modify the documentation and so on.

[2022-01-15 12:09] ayoub-root opened #94 "prevent re-rendering for best performance render()"
add memo function to prevent CustomNode rendering without any change@minoru/react-dnd-treeview

https://user-images.githubusercontent.com/29442800/149621206-1a1dad2f-047b-41c3-91b3-a6bbe4f69acd.mov

[2022-01-15 12:43] #94 closed, assigned to minop1205

[2022-01-19 08:18] Oce1ot opened #97 "initial rootState"

[2022-01-19 08:19] #97 closed, assigned to minop1205

[2022-01-26 06:10] minop1205 opened #100 "Drop is canceled even though placeholder is visible"
From PR below
https://github.com/minop1205/react-dnd-treeview/pull/99#issue-1110578682

When Tree component is used to manual sort items, the user might drag items outside of the droppable area -- especially when trying to move it to the top or the bottom of the list. If we restrict the drop to only the tree area, we might have some weird behaviors, like rendering the placeholder somewhere, but no

[2022-01-26 06:21] minop1205 commented on #100
The `end` option of `useDrag` hook is called by dropping outside the dropable area or by canceling with the ESC key, so it is necessary to distinguish between these two.

If the drop is outside the dropable area, it should be dropped at the placeholder position, and if the ESC key is pressed, the drop should be canceled.

[2022-01-26 07:04] HananoshikaYomaru opened #101 "Is it possible to drag and drop between different tree?"
If it is possible, is there a guide on how to achieve this ?

[2022-01-26 07:16] minop1205 commented on #101
At the moment, drag-and-drop between different trees is not possible.
We are considering supporting this in the future, but I don't think it will be possible anytime soon.

[2022-01-28 07:49] HananoshikaYomaru commented on #101
https://user-images.githubusercontent.com/43137033/151507638-84a888cd-0639-4e56-a522-1e62c46272d9.mp4

Em... I think it is possible. But it will required advanced skills of React and deep understanding of your package. Surely you can make it easier for user to implement this.

# mechanism

The mechanism of determining whether the item can be dropped to a tree is based on a function `canDrop` of th

[2022-01-28 07:49] #101 closed, assigned to nobody

[2022-01-31 19:49] ayoub-root opened #102 "customise element wrapper if has children"
customise item wrapper by specifying where the subelement (example 2, 3) will be inserted in the green zone like illustrated in the picture
![image](https://user-images.githubusercontent.com/29442800/151861969-b6cd9a8f-10d9-4cf4-8bbe-8659733519bb.png)

[2022-02-01 00:24] minop1205 commented on #102
@ayoub-root

By default, dropping from a child to its parent is not allowed, but you can control its behavior with the `canDrop` callback.

Also, since the `onDrop` callback is passed the node information of the source and destination of the drop, it is possible to detect the drop from the child to the parent.

After detecting the drop from the child to the parent, customize the tree data based on

[2022-02-16 20:23] lpagliari commented on #101
@HananoshikaYomaru I was trying to implement the same on my current project, and I found a workaround that might work for some people while this lib does not implemente the feature.

What I did was to provide the items of both trees _to both trees_, and to set a different `rootId` as the parent of the items that did not belong to the given tree. This makes the `<Tree>` hide the items with the diff

[2022-02-17 00:32] HananoshikaYomaru commented on #101
This looks much simpler than my implementation. But to show the dropped node from another tree, we need to change the root id of the dropped node, right?

[2022-02-17 12:24] lpagliari commented on #101
Do you mean "to show the placeholder while dragging the node to the other tree"? Or "to show the node on the tree _after_ the node was dropped"?

On the first case you might need to change the `canDrop`, although I believe you won't need to on most of the scenarios; on the second case: yes, you do need to change the root id of the dropped node on the `onDrop` for the node to appear on the tree.

[2022-02-17 15:17] HananoshikaYomaru commented on #101
Yes, eventually the `canDrop` and `onDrop` will determine the cross-tree drag and drop behaviour. But I do think making every tree store every data will be easier for people to implement. But if you can perfectly control your `canDrop`, whether which tree hold what data will not be a big issue.

[2022-03-04 08:35] MrPrometheus opened #103 "Adding elements to the tree"
Hello, I tested the demo with adding elements, everything works great.

But this addition works on the button. The task is this:
1) There is a simple html tree without d`n`d
2) There is your tree.
3) I need to implement adding elements from the first tree to yours using d`n`d

The point of the idea is that there is no need to remove an element from the first tree. The first tree is like a set of f

[2022-03-04 08:40] MrPrometheus opened #104 "Prevent dragging nodes to the root"
Hello, I have a tree with 1 root node, all other nodes come from 1 root node.

How can I make it so that any node below the 1st level cannot be dragged to the first level?

[2022-03-04 09:31] minop1205 commented on #104
@MrPrometheus
Drop availability can be controlled by the canDrop callback.
https://github.com/minop1205/react-dnd-treeview#candrop-callback

Here is sample.
https://codesandbox.io/s/issue-104-h8vzt0?file=/src/App.tsx

[2022-03-04 09:34] minop1205 commented on #103
@MrPrometheus
Sorry, the current version does not allow dropping elements outside the tree into this tree.
This will be addressed in the future, but the release date has not yet been determined.

[2022-03-04 09:40] MrPrometheus commented on #103
@minop1205
I don't need to drag items from your tree, I need to create them.
Only the creation trigger of this element is not a button.
An item creation trigger is dragging something from somewhere else onto your tree, and then creating a new item.

Or is your tree unable to react in any way when something is dragged onto your tree?

[2022-03-04 09:41] MrPrometheus commented on #104
Thank you!!!

[2022-03-04 09:41] #104 closed, assigned to nobody

[2022-03-04 09:49] minop1205 commented on #103
That is correct. This is because at this time it is not possible to detect events when external elements are dragged.

[2022-03-04 09:51] MrPrometheus commented on #103
@minop1205

Here is a visual explanation:

![image](https://user-images.githubusercontent.com/46008130/156740964-73a6f6e9-7835-47de-abf3-6275777d04fe.png)

1) There is a set of blocks 1, 2 and 3 (for example, add, subtract and divide functions)
2) We drag block 1 (with block 1 physically remaining in place) onto element 0-2 and then the text of node 0-2 changes to "I was dragged block 1!!"

It is

[2022-03-08 19:25] johno opened #105 "Feature Request: Initialize a subset of folders as open"
Firstly, thanks for this awesome library! We're using it for a new feature at [Components AI](https://components.ai) and it's working great. 🙏

I'm wondering if you'd be interested in being able to specify whether folders are open/closed as part of the tree data on load. Our use case is we want to store the state of the tree in the database so that when you reopen a document that state is preserve

[2022-03-08 21:22] minop1205 commented on #105
@johno Thank you for your comment.
Please use the `initialOpen` option to specify the open/closed state of a node when mounting the Tree.
The `initialOpen` can be a boolean value or an array of node IDs.

API Reference:
https://github.com/minop1205/react-dnd-treeview#component-api

CodeSandbox:
https://codesandbox.io/s/issue-105-7f25d1?file=/src/App.jsx

[2022-03-08 21:27] johno commented on #105
Ohhhh, totally missed that it takes an array. That's my mistake. Ofc you've already got this case implemented, thank you!

[2022-03-08 21:27] #105 closed, assigned to minop1205

[2022-03-31 13:22] ff-randy opened #106 "Dependency issue, rdndmb-html5-to-touch introduces conflicts to touch events of dropdown when a tree is rendered in the DOM ANTD selects"
Issue:
As the title says if the Tree component is rendered then all of the "Selects" in the current DOM stops working. When you click on them they open up but closes immediately.

Expected:
Selects/Dropdowns continue to work as usual.

Solution:
It is possible that the solutions will be to update a dependency https://github.com/LouisBrunner/dnd-multi-backend/tree/main/packages/rdndmb-html5-to-touc

[2022-04-05 09:32] percy507 opened #107 "[bug] drag preview node weird when using `React.StrictMode`"
Hi,

Thanks for your work. It's really awesome.

I search lots of react tree components and finally decide use yours.👍

I am use the newest version of react: v18.0.0.

During testing, I find a weird thing in drag preview node.

![2022-04-05 17 01 31](https://user-images.githubusercontent.com/18365078/161721843-0a9fb873-a8b1-43e8-a1bb-c36bd110dec8.gif)

[2022-04-06 03:44] minop1205 commented on #107
@percy507  Thanks for the bug report!

We will be releasing version 2 in the near future and will try to include the bug fixes you reported.

Please wait for a while for the official release.

[2022-04-06 03:46] percy507 commented on #107
Thanks.

[2022-04-06 10:14] percy507 commented on #107
@minop1205
Here is a suggest. Enable [the official eslint plugin of react hooks](https://github.com/facebook/react/tree/main/packages/eslint-plugin-react-hooks) may helpful.

[2022-04-06 14:03] percy507 commented on #107
@minop1205 I think I fix the problem by adding the missed deps in react hooks.😂

Here is the PR.

https://github.com/minop1205/react-dnd-treeview/pull/108

[2022-04-06 14:18] percy507 opened #109 "Why there is an obvious delay when drop the node into a unvalid area?"
Maybe this is not a bug. But it's not good for the user experience.

![2022-04-06 22 13 40](https://user-images.githubusercontent.com/18365078/161995462-4fb19c54-d79f-465c-b37e-28869b60349b.gif)

[2022-04-06 22:09] minop1205 commented on #109
@percy507 Thanks for the report.

I am aware of this issue as well, but have not yet done a detailed investigation. What I do know is that it does not occur with Windows.

[2022-04-06 22:30] percy507 commented on #109
OK. let's keep track it.🤝

[2022-04-07 20:15] percy507 commented on #109
Related official issue in `react-dnd`: [Delay after mouse is released when drag source is unsuccessfully dropped](https://github.com/react-dnd/react-dnd/issues/3115)

[2022-04-07 21:09] percy507 opened #111 "Rename package name"
Just a suggestion!!!

This package is more like a frame to build custom treeview instead of a component which can be directly use. So how about rename the package name to `react-treeview-frame`? 😂

Or you can consider to make some preset, beatuiful, directly-useable component in the future.

[2022-04-08 08:56] minop1205 commented on #111
@percy507 Thank you for your suggestion!

As a package name, we would like to include the word `dnd`, which is a feature of this component. Also, it certainly resembles a frame, but we are rather making it with the following headless UI in mind.
https://headlessui.dev/react/menu

Therefore, while we appreciate your suggestion, we do not intend to change the name at this time.

As for the preset UI

[2022-04-08 09:02] #111 closed, assigned to minop1205

[2022-04-11 06:58] minop1205 commented on #107
@percy507 I have tried to confirm this problem locally, but have not been able to reproduce it.

Could you please tell me more about how to reproduce it?
Alternatively, a reproducible repository would be helpful.

[2022-04-11 07:17] percy507 commented on #107
Which react version you are using?  Mine is the newest verison: v18.

You can test it again. If failed reproduce again, please send me your local test-project. (percymong@163.com)

[2022-04-15 08:36] minop1205 commented on #107
Thank you for your contribute!

Merged: https://github.com/minop1205/react-dnd-treeview/pull/108

[2022-04-15 08:36] #107 closed, assigned to minop1205

[2022-04-15 08:38] minop1205 commented on #107
BTW, the reason I could not reproduce this was because I was not using `createRoot` and was running in React v17 mode.

When I used `createRoot`, I was able to reproduce it.

[2022-04-15 08:44] percy507 commented on #107
That's right.

[2022-05-11 13:24] michaelspiss opened #114 "Drag on touch breaks scrolling"
Currently, when scrolling, elements get moved on touch devices. A short delay before the drag action starts on touch input ("long press to drag") would prevent accidentally altering the tree while trying to scroll.

[2022-05-11 13:45] michaelspiss opened #115 "Proposal: Make the tree model more performant"
The current tree model negates all performance benefits of the tree data structure by defining the relationships the opposite way (the "parent" attribute on the child instead of a "children" array attribute on the parent). This requires going through every node on every render to check if something changed. This is a huge performance hit.
I recommend going the opposite way:
[code]
This allows the

[2022-05-12 03:24] minop1205 commented on #115
@michaelspiss

Thanks for the suggestion.
I will consider it carefully as it will require major modifications and disruptive changes.
I will release v2 soon, but at least v3 or later.

Note that in the current tree model, child nodes are first searched from the parent node, and descendant nodes are traversed recursively only if the parent is open and the child exists.
So, if the parent is closed,

[2022-05-12 06:54] michaelspiss commented on #115
Sure - I saw that you are working on a v2 so I wanted to leave this suggestion here.

Finding a child node requires going through the whole dataset for each rendered node - that's what's worried me.

This is merely a suggestion for better performance, especially on low end devices. It is not required (works fine for 1000 nodes on my machine).

[2022-05-15 08:53] minop1205 commented on #92
v2 is released today.
This version does not include `DndProvider`, so we can use our existing `DndProvider` without modification.
Please see the README for details.

[2022-05-15 08:54] minop1205 commented on #92
v2 is released today.
This version does not include `DndProvider`, so we can share `DndProvider` with other components.
Please see the README for details.

[2022-05-15 08:54] #92 closed, assigned to minop1205

[2022-05-28 07:23] michaeldawson opened #118 "Issue: error using `require` to import from react-dnd and react-dnd-html5-backend"
# Report

## Current behavior

This library outputs a main dist/index.js file that attempts to use `require` to import from the `react-dnd-html5-backend` and `react-dnd` packages. However, these packages use ES modules, and this results in an error:

[code]

I'm currently using Next.JS, and I understand that next should be preferring ES modules where possible. However, in this case it is choosing

[2022-05-28 22:36] kimgysen commented on #115
In order to simply verify whether a node has children (eg in order to show a caret if there are child nodes), it seems easy with the above proposed model. Needs custom calculation / adding a prop children yourself with the current implementation. Great library otherwise.

[2022-06-02 10:14] zetorby opened #119 "Add the parent index and the current node index to props"
How can get the index of the parent and the current node to number such a list?
![image](https://user-images.githubusercontent.com/20907230/171608131-92fa821d-775f-43bb-bdce-e095ee8295ec.png)

[2022-06-03 03:57] minop1205 commented on #119
@zetorby
Even if parent index or current index is given to render, it may not be enough to obtain the expected prefix if the tree hierarchy is deep.

In any case, it is necessary to go back to the root node to get the index of each hierarchy, so please implement the logic in your application as shown in the example below.

https://codesandbox.io/s/issue-119-l81c14?file=/src/App.tsx

[2022-06-03 03:57] #119 closed, assigned to minop1205

[2022-06-03 07:25] tomitrescak commented on #118
I have exactly the same issue, and I'm pulling my hair out. It's this idiotic decision of react-dnd to only ship ES Next code.

I see you are also using NEXT.js. The issue is that next for some reason is importing the common.js file:

`@minoru/react-dnd-treeview/dist/index.js`

which is then importing the ES next file

`react-dnd-html5-backend/dist/index.js`

I do not understand, why NEXT starts s

[2022-06-03 09:48] zetorby commented on #119
@minop1205 Thank you for your help

[2022-06-03 21:13] BlakePro commented on #118
Hello guys a quick fix will be nextjs/dynamic

First install...
[code]

[code]

After that use...
[code]

[2022-06-05 23:53] minop1205 commented on #118
Thank you all for your reports.

I don't know why next reads the CommonJS files, but I have found that there is a problem with this package as well.

This package depends on `react-dnd`, `react-dnd-html5-backend`, etc.,
but these only support ESM format, so it makes no sense for this package to support CommonJS format.

Therefore, I have removed the CommonJS files, leaving only the ESM files and p

[2022-06-06 15:56] zetorby opened #120 "Add a custom element to the end of the list (ul)"
How to add a custom element to the end of the list (ul) ? Example,  add button of end list (ul)...

[2022-06-07 08:13] minop1205 commented on #120
@zetorby Currently there is no such API.
Buttons should be placed outside of Treeview(ul).
Is the following demo helpful?

https://minop1205.github.io/react-dnd-treeview/?path=/story/examples-tree-add-remove-duplicate-nodes--add-remove-duplicate-nodes-story

[2022-06-08 12:35] zetorby commented on #120
I need to add buttons exactly inside the tree
![image](https://user-images.githubusercontent.com/20907230/172617720-2c174bc3-4a20-47cd-a5c6-c7ecbf44e0cd.png)

[2022-06-09 02:51] minop1205 commented on #120
@zetorby
Since this seems to be a special use case, I think it should be implemented on the application side rather than as an API.

One possible implementation would be to check the position of each node in the `render` API and add a button if it is the last node in the list.

Would the following sample be helpful?
https://codesandbox.io/s/issue-120-jq2o7t?file=/src/App.tsx

[2022-06-09 12:52] #120 closed, assigned to minop1205

[2022-06-09 12:53] zetorby commented on #120
Yes, that will do, thank you for your help.

[2022-06-15 06:40] minop1205 commented on #118
v2.0.1 is released today. In this version, the package type was changed to "module" and distributed only in ESM format.
This package with Next.js can be built without any problem.

[2022-06-15 06:40] #118 closed, assigned to minop1205

[2022-06-17 12:02] tomitrescak commented on #118
Thank you very much, works like a charm.

[2022-06-24 09:58] ngocducdim opened #122 "Prevent showing placeholder for current element's position while dragging"
Hi, I have a problem, when I re-order the element, the placeholder alway show the element's current position (you can see the video, when I drag to bottom direction, the placeholder is showing but that position is current element's position) I don't want this behavior, is there anyway to prevent this?

https://user-images.githubusercontent.com/97713182/175512250-475ed32e-316f-452d-8ea5-2e94091db7e

[2022-06-27 04:36] minop1205 commented on #122
@ngocducdim
It is probably not possible with just the current parameters of the placeholderRender API.
If we can add the hovered node ID to the parameter of the placeholderRender API, it would be possible to determine.

[2022-07-04 01:10] ngocducdim commented on #122
Ok thank you for the reply

[2022-07-04 01:10] #122 closed, assigned to minop1205

[2022-07-08 17:32] hosseinimh opened #124 "dragPreviewRender doesn't work on RTL pages"
I had to fix it in node_modules\\@minoru\react-dnd-treeview\dist\index.js on line 835:
    var x = offset.x - window.innerWidth, y = offset.y;

[2022-07-11 11:12] JustynaKK commented on #25
@minop1205, is there a plan in some future to add this functionality?

[2022-07-11 11:17] minop1205 commented on #25
@JustynaKK Yes, I am currently developing it and will add the feature to the next version, which should be released sometime in July or mid-August.

[2022-07-16 14:07] broncha opened #125 "When last node is open, items cannot be dropped below that node"
As the title says, it's not possible to drop an item below the last node which is open
In my case, we've disabled moving parent to child, and since the last node is a child, we cannot drop any item below the last node.

[2022-07-17 06:08] broncha commented on #125
I had to adjust the height of the container to make it work! So far so good.

[2022-07-17 06:08] #125 closed, assigned to minop1205

[2022-07-21 15:53] zetorby opened #126 "Why might the openAll method not work?"
Why might the openAll method not work?
Instead of opening all nodes, it closes them....

[2022-07-22 00:17] minop1205 commented on #126
@zetorby Thanks for the report.

Can you tell me what version of the package you are using?
Also, any code, etc. to reproduce the problem would be helpful.

Also, is CodeSandbox here working correctly?

https://codesandbox.io/s/opening-and-closing-all-nodes-js-eqxzti

[2022-07-22 09:33] zetorby commented on #126
@minop1205 Hi.
I think the problem is in the ID
I changed the IDs of elements in your example, and now the method doesn't work correctly
https://codesandbox.io/s/opening-and-closing-all-nodes-js-forked-8cokxt?file=/src/sample_data.json

[2022-07-25 07:15] aydozgeee opened #127 "max depth"
Hello,
I added drag and drop feature to my project using dnd tree. I want the tree to have a max depth of 1. (i.e. there can only be one folder in a folder).I don't want it to be dropable when greater than that. how can I do it?

You can find the structure that I want to achieve in the attachment..

xt![dndtree](https://user-images.githubusercontent.com/101804555/180718312-70eb6fee-71a8-4473-aace-

[2022-07-25 08:44] minop1205 commented on #127
@punisher28 Thanks for your comment!

I have had a similar Issue in the past, please refer to this one.
https://github.com/minop1205/react-dnd-treeview/issues/62

If you are unable to resolve the issue, please reopen it.

[2022-07-25 08:44] #127 closed, assigned to nobody

[2022-07-25 09:10] minop1205 commented on #126
@zetorby Thanks for the sample.

I have looked at the sample you provided and it appears that both `openAll` and `closeAll` are working as expected.

The current implementation of `openAll` is to open all nodes where `droppable` is set to `true`.

Therefore, the following node in `sample_data.json` has `droppable` set to `false`, so the nodes under it are not displayed.

[code]

I think if I set `

[2022-07-25 10:18] aydozgeee commented on #127
Hello @minop1205,
Thanks for your reply. I checked the solution that you shared but it was not the exact solution that I am looking for. After a bit of digging, I come up with a solution below. I will be happy if you share your thoughts about the solution.

https://codesandbox.io/s/otupwe

[2022-07-25 10:55] Rvalle23 opened #128 "Helow, how are you? First of all, congratulate you all with this amazing tool that you are developing. I want to know a bit more in detail, is there a possibility o you are planning to use all the back functionalities and give a different layout? Like Organizational charts? Kind regards and keep doing this amazing job!"
# 機能要望

## 概要

例: テキストが見切れている箇所にはマウスオーバーでツールチップを表示する

## 目的・理由

例: タイトルの一覧表示などでテキストが見切れていると、詳細画面に遷移しないとタイトル全体が確認できないため

## 実装案があれば

例:
ツールチップには Material-UI tooltip を使用する。
文字数だけでなく画面リサイズにも対応すべきなので、ResizeObserver を使用するなどしてテキストの見切れ判定を行う。

## 参考情報

参考 URL などあれば

[2022-07-25 21:05] minop1205 commented on #127
@punisher28 The sample you provided is fine also.

I think it can be implemented a bit simpler, since we only need to know the depth of the dropTarget and the type of dragSource in the canDrop callback. Would this sample be helpful?

https://codesandbox.io/s/issue-127-fkfi1y?file=/src/App.jsx

[2022-07-25 21:40] minop1205 commented on #128
@Rvalle23 Thank you for your comment!

This library outputs only a tree structure with `ul` and `li`, and style and layout must be defined by the library user.

As shown in the example below, it is possible to use CSS for layout.

https://codesandbox.io/s/minimum-configuration-js-forked-whzumj?file=/src/sample_data.json

If you need to draw lines connecting each node, as in the organization chart,

[2022-07-25 21:40] #128 closed, assigned to minop1205

[2022-08-03 13:26] mattevans-dev commented on #90
Great library @minop1205, just having the same issue regarding multiple selection and dragging. Any chance this may be fixed in a future version soon?

[2022-08-03 20:23] minop1205 commented on #90
@mattevans-dev Multiple item dragging is discussed in the following Issue, but since react-dnd, the dependent library for this package, does not support multiple item dragging, it would be difficult to provide it as a feature of this library.

https://github.com/react-dnd/react-dnd/issues/14

However, as mentioned in the following comment, I think it is possible to achieve this functionality in a

[2022-08-03 20:51] mattevans-dev commented on #90
Thanks for the detailed reply @minop1205, that's really useful. I'll try implementing it based on the react-dnd comment.
Keep up the great work!

[2022-08-15 10:09] 1998MaxChykalo opened #129 "wrong `destinationIndex` calculation when dropping to the root"
if I drag an element and drop it at the root level then `destinationIndex` is calculated as if every element is the direct child of the root element.
Example:
<img width="600" alt="image" src="https://user-images.githubusercontent.com/27495063/184613298-5eb6d144-0f57-4386-bcd1-02d2e639418c.png">
the `destinationIndex` is 6. But we have only 5 elements in the root, so the `destinationIndex` in this

[2022-08-16 13:49] zetorby commented on #126
@minop1205 Thank you, it worked.

[2022-08-16 22:01] mattevans-dev commented on #89
@minop1205 is this a feature you are considering to introduce in the future? If not, do you have a recommended workaround to get custom drag elements working? Would greatly appreciate your thoughts

[2022-08-18 08:47] minop1205 commented on #89
@mattevans-dev I am considering implementing this feature in the future. I will be releasing v3 soon, after which I will consider how to implement it. This request will naturally be requested in the future, so it is a high priority among the new features.

[2022-08-18 08:48] #126 closed, assigned to minop1205

[2022-08-21 10:25] Nerevar123 opened #130 "Feature request: children pagination"
## Overview

Hello, thanks for this great library!

Some of my nodes have more than 1k children, so I have a problem with rendering such a big count of nodes. is it possible to implement some pagination, like rendering a small count of children with the button "show more"? Or maybe you can advise something about this kind of problem?

[2022-08-25 05:53] minop1205 commented on #25
I have released v3.0.0 today.

In this version, you can now drop elements outside the tree and drag & drop between trees.

See the README and samples for details.

### README
https://github.com/minop1205/react-dnd-treeview#external-drag-source

### Demo and Examples (Storybook)
https://minop1205.github.io/react-dnd-treeview/

(See stories below)

- External element (inside react-dnd)
- External el

[2022-08-25 05:53] #25 closed, assigned to minop1205

[2022-08-25 05:55] minop1205 commented on #103
I have released v3.0.0 today.

In this version, you can now drop elements outside the tree and drag & drop between trees.

See the README and samples for details.

### README
https://github.com/minop1205/react-dnd-treeview#external-drag-source

### Demo and Examples (Storybook)
https://minop1205.github.io/react-dnd-treeview/

(See stories below)

- External element (inside react-dnd)
- External el

[2022-08-25 05:55] #103 closed, assigned to nobody

[2022-08-25 08:05] aydozgeee opened #133 "katalon test"
Hello, I am trying to drag and drop files to folders on Katalon automation tests. But when test is running, the mouse location is tract. Element drops where my mouse pointer is, even location has been set. Do you have any ideas on how to automate dnd tree?

def dragdrop(TestObject to, TestObject dest) {
    def eleto = WebUiCommonHelper.findWebElement(to, 30)
    def eledeset = WebUiCommonHelper.f

[2022-08-25 08:50] minop1205 commented on #133
When I test this package, I write assertions within the Storybook play function.

(Minimum configuration story test)
 https://github.com/minop1205/react-dnd-treeview/blob/next/src/stories/examples/MinimumConfiguration/MinimumConfiguration.stories.tsx

However, when I try to test dropping files, or elements that are outside of the DndProvider, it fails.

These external elements are being dragged an

[2022-08-25 09:28] aydozgeee commented on #133
If I'm not mistaken, automated tests can be done partially means that drag can be done automated but drop is not happening right?

[2022-08-26 00:14] 55Cancri commented on #25
@minop1205 dude you are so freaking cool, holy crap. You have no idea how awesome and useful this will be. Thank you so so very much

[2022-08-26 01:48] minop1205 commented on #133
I have not used Katalon, but I guess it depends on the test runner you are using as to what kind of testing is possible.

In my case, I am using Storybook + React Testing Library, and in this case, I can drag, but cannot detect the drop. This is due to a browser API spec issue that restricts access to the dataTransfer object that react-dnd references internally.

These are cases where elements out

[2022-08-26 05:37] f-lw opened #134 "Installation failed"
![image](https://user-images.githubusercontent.com/93912371/186829763-bdaf7918-5323-4464-a575-6f1d34891293.png)

Installation path: npm i react-dnd @minoru/react-dnd-treeview

[2022-08-26 05:49] #134 closed, assigned to minop1205

[2022-08-28 06:15] OldManMeta opened #135 "不具合報告：Node Custom Data Error"
Awesome project!

There is an issue with the node not correctly picking up custom data.

You can see this in your example found here:
https://minop1205.github.io/react-dnd-treeview/?path=/docs/examples-tree-custom-drag-preview--custom-drag-preview-story

Open the TS version in codesandbox, and you will see that none of the file icon types are present.

You will also see that if you customize the d

[2022-08-28 07:13] OldManMeta opened #136 "不具合報告：InitialOpen Error"
The InitialOpen={true} appears to only target droppable folders so to speak.

I have a scenario where some folder can take certain files but not others, so being able to ensure all folders, and not just droppable=true was expanded would provide a wider experience.

Perhaps allow an object to specify the InitialOpen target instead of just a bool?

Cheers

[2022-08-28 07:23] OldManMeta commented on #136
Ok - I just noticed that you can pass an array of id's in - so I wrote this function to get them

`const getFolderItems = (treeData:NodeModel[]):[]=>{
    var TreeFolders:[]=[];

    treeData.map((item)=>{
      if(item.isFolder){
        TreeFolders.push(item.id);
      }

    });

    return TreeFolders;
  }`

Obviously, calling it with:
`initialOpen={getFolderItems(treeData)}`

You will need to

[2022-08-28 07:23] #136 closed, assigned to minop1205

[2022-09-01 09:50] gius opened #137 "Lazy loading"
Do you have any recommendations on implementing lazy loading of children only after a parent node is opened?

[2022-09-08 22:35] Surjit4048 commented on #129
Any update on this? I am facing same issue.

[2022-09-09 15:36] Surjit4048 commented on #129
nvm, I can access parent and previous node with setup easy. All good for me.

[2022-09-10 09:10] minop1205 commented on #90
Demos and sample code of multiple drags are available here.

As noted in the demo screen, this package itself does not have multiple drag functionality, so the logic for the operation must be written on the main application side.

In this case, it is convenient to have drag start and end events, so we have added the `onDragStart` and `onDragEnd` APIs in v3.1.

### Demo(Storybook)

![multiple-drag-

[2022-09-10 09:10] #90 closed, assigned to minop1205

[2022-09-10 23:58] minop1205 commented on #106
`rdndmb-html5-to-touch` has been removed as a dependency since @minoru/react-dnd-treeview v2.

I just checked the behavior using antd `Select` and the problem you mentioned did not occur.

If you continue to have problems, please reopen this issue.

[2022-09-10 23:58] #106 closed, assigned to minop1205

[2022-09-12 03:10] minop1205 commented on #135
@OldManMeta Thanks for the report!

After checking, I found that the type inference was not working because the CodeSandbox sample code was incorrect.

1. The `data` field was not defined in `sample_data.json`.

### Before

[code]

### After
[code]

2. appropriate type information was not passed to `setState` in `App.ts`

### Before

[code]

### After

[code]

NOTE:
The NodeModel type allows one t

[2022-09-12 03:10] #135 closed, assigned to minop1205

[2022-09-14 04:31] leenamki12 opened #139 "I want to disable the drag function of the node looking at the root, is there any possible option?"
I want to disable the drag function of the node looking at the root, is there any possible option?

[2022-09-14 06:11] #139 closed, assigned to minop1205

[2022-09-15 14:27] oshi97 opened #140 "In the `canDrop` prop, returning false has different behavior than returning undefined"
You can see this behavior if you go to the sandbox for
https://minop1205.github.io/react-dnd-treeview/?path=/docs/examples-tree-manual-sort-with-placeholder--manual-sort-with-placeholder-story

And alternate between
[code]

and
[code]

If you return false instead of undefined, you will no longer be able to drag an item into a parent folder

[2022-09-15 15:23] oshi97 commented on #140
Nevermind I see in the documentation now that returning undefined has different behavior than false!

[2022-09-15 15:23] #140 closed, assigned to minop1205

[2022-09-16 07:27] jeevasusej commented on #130
Is it possible to integrate with [https://github.com/bvaughn/react-window](https://github.com/bvaughn/react-window)

[2022-09-16 07:30] jeevasusej opened #141 "Select child nodes when select parent node."
When do check the parent node checkbox, select parent node's children's checkbox by default and vice versa too.

[2022-09-16 07:44] minop1205 commented on #141
@jeevasusej Is it a problem with the following demo?
https://minop1205.github.io/react-dnd-treeview/?path=/docs/examples-tree-multiple-selections--multiple-selections-story

Is there any way to confirm the issues you mentioned?

[2022-09-18 20:48] minop1205 commented on #124
@hosseinimh

Thanks for the report.

By "RTL pages" do you mean "React Testing Library"?
How can I reproduce the problem?

A minimal code to reproduce, or a Codesandbox would be helpful.

[2022-09-19 09:29] jeevasusej commented on #141
Yes, when we clicked on the child (checkbox), we do not know whether the parent is selected or not.

[2022-09-19 09:35] jeevasusej opened #142 "Can't we use hierarchical structure json data instead of flattern?"
Can't we use hierarchical structure json data as below one instead of flattern?

![image](https://user-images.githubusercontent.com/19813131/190989810-bae19e50-eade-4740-b5c1-1340fdad5af4.png)

[2022-09-19 09:56] jeevasusej opened #143 "Make Drag and drop as optional?"
Can we make drag and drop as optional?

[2022-09-19 11:39] kumar-parth opened #144 "React 17 compatibility"
Please add react 17 compatibility with this repo.

[2022-09-19 11:45] kumar-parth commented on #144
fixed by adding --legacy-peer-deps

[2022-09-19 11:47] kumar-parth commented on #144
closing this issue.

[2022-09-19 11:51] kumar-parth commented on #144
TBD

[2022-09-22 00:02] minop1205 commented on #143
@jeevasusej
Although there is no dedicated API, similar functionality can be achieved using the `canDrag` and `canDrop` APIs.

Please refer to the following sample.
https://codesandbox.io/s/drag-and-drop-as-optional-ts-sqzo11?file=/src/App.tsx

[2022-09-22 00:02] #143 closed, assigned to nobody

[2022-09-22 13:37] kumar-parth commented on #144
It seems it has a peer dependency on React 18. If you could add React 17 as well in the peer dependency, which would do wonders for me. Thanks again for this wonderful npm package. :)

[2022-09-23 22:30] hosseinimh commented on #124
Thank you for your amazing component.
I will create a repo to show the problem and send the link.

[2022-09-26 08:54] minop1205 commented on #142
@jeevasusej
Since the structure of the data is directly related to the implementation of the component, data structures other than those described in the README cannot be used.

Before passing data to a component, please perform some kind of conversion to make it flat before use.

[2022-09-26 08:54] #142 closed, assigned to nobody

[2022-09-27 12:40] jonlepage opened #146 "not work in nwjs or electron"
**Describe the bug**
Hi, when i use nwjs or electron, the dnd of your lib not work!
Did you use something special thats can break the behavior in this kind of wrapper?
Is work fine if i run my app on heavy browser.
Dnd work with other libs.
thanks

**To Reproduce**
Steps to reproduce the behavior:
1. use nwjs or electron as wrapper
https://nwjs.io

**Expected behavior**
DND should work like in bro

[2022-09-28 09:10] minop1205 commented on #146
@djmisterjon Thanks for the report.
I also tried to run it with nwjs and confirmed the same phenomenon.

I looked into it and found the following workaround.
https://github.com/nwjs/nw.js/issues/7531

I was able to work around the problem by adding the following line to package.json.

[code]

[2022-09-28 09:10] #146 closed, assigned to minop1205

[2022-09-28 14:18] jonlepage commented on #146
interesting,nice catch it work!
But my issue now with is am not able to load 2 plugins in same time with arg `--mixed-context` !
[code]

But i think is a parser issu from internal nwjs .
After some hours and many test, something defensively wrong!
![image](https://user-images.githubusercontent.com/24865815/192803113-c6479aa7-db22-4990-91d4-44a25b9041c2.png)

**I will report on the nwjs repo.**
Tha

[2022-09-30 14:59] leopuleo opened #149 "Rollup bundling process does not handle "~" alias"
**Describe the bug**
It looks like Rollup is not handling the  `~` substitution with `src` folder path. This is ok when you inspect the `dist` folder generated inside the repo...but it fails to build inside a project which uses `react-dnd-treeview` as dependency.

I hope you can fix this...the library does a great job! :)

**To Reproduce**
Steps to reproduce the behavior:
1. Add `react-dnd-treevie

[2022-09-30 22:59] minop1205 commented on #149
@leopuleo Thanks for the report!

I understood the problem, but for some reason in my environment I am able to build without any problems.

I would like to reproduce the build error, but it would be helpful if you could tell me your build configuration.

[2022-10-03 08:53] leopuleo commented on #149
Hello @minop1205,
thanks for such a quick reply.

To reproduce the error:

1. Create a new react application (typescript) -> https://create-react-app.dev/docs/adding-typescript/
2. Add `react-dnd-treeview` as a dependency and re-create the demo you listed on this repo.
3. Inside `tsconfig.json` set `skipLibCheck: false` (or just delete the line)
4. Run `tsc` command.

You should see the errors.
Le

[2022-10-03 12:22] francoisroyer commented on #144
+1 for React 17 - thank you!

[2022-10-04 05:27] minop1205 commented on #89
An alpha version of v3.2 is available today.
We can install it with the following command

[code]

This version supports drag handle.
See below for samples and documentation.

### Document
https://github.com/minop1205/react-dnd-treeview#drag-handle

### Storybook
https://minop1205.github.io/react-dnd-treeview/?path=/docs/examples-tree-drag-handle--drag-handle-story

[2022-10-04 05:29] minop1205 commented on #89
Merged: https://github.com/minop1205/react-dnd-treeview/pull/150

[2022-10-04 05:29] #89 closed, assigned to minop1205

[2022-10-05 06:43] minop1205 commented on #149
Merged: https://github.com/minop1205/react-dnd-treeview/pull/151

[2022-10-05 06:49] minop1205 commented on #149
@leopuleo Thanks for the details!

I did some research and found the following link with some helpful information.

https://github.com/ezolenko/rollup-plugin-typescript2/issues/201

The fix is reflected in the package we just released as an alpha version, so please try it.

[code]

I will make an official release of v3.2 with this fix after I address several other Issues.

Thank you very much.

[2022-10-05 06:49] #149 closed, assigned to minop1205

[2022-10-05 07:41] leopuleo commented on #149
Thanks @minop1205, just installed the `alpha` version and the project compiles!

Thank you for such a quick response.

[2022-10-06 20:44] minop1205 commented on #144
Merged: https://github.com/minop1205/react-dnd-treeview/pull/152

[2022-10-06 20:49] minop1205 commented on #144
v3.2 のアルファ版の提供を開始しました。

[code]

このバージョンではReact 17.x も依存関係に加えていますので、React 17でも使用することが可能です。

NOTE:
React 17を使用する場合React DnDの最新版が利用できないようですので、React Dndは v15.x をインストールしてください。
https://github.com/react-dnd/react-dnd/issues/3423

[2022-10-06 20:49] #144 closed, assigned to minop1205

[2022-10-06 20:50] minop1205 commented on #144
An alpha version of v3.2 is now available.

[code]

This version also includes React 17.x as a peer dependency, so it can be used with React 17.

NOTE:
If you use React 17, the latest version of React DnD is not available, so please install v15.x for React Dnd.
https://github.com/react-dnd/react-dnd/issues/3423

[2022-10-10 18:00] hightgha commented on #129
@minop1205 any update?
same issue

[2022-10-12 20:52] minop1205 commented on #114
In v3.2, I have added a fix to address this issue.
You can install the v3.2 alpha version with the following command.

[code]

To delay the dragStart event, the `delay` option of `TouchBackend` can be used.

[code]

Please refer to the README for more information on options.
https://github.com/minop1205/react-dnd-treeview#backend-options

A demonstration using the `delay` option can also be seen b

[2022-10-12 20:52] #114 closed, assigned to minop1205

[2022-10-18 09:23] nosferatu500 commented on #83
@minop1205 Thanks for the provided examples, very helpful. But is it possible to reorder with multiple selection? If I select multiple items and try to reorder the items, only the first selected item gets changed.

[2022-10-19 02:31] nosferatu500 opened #156 "Reorder items with multiple selection."
Hi! Thanks for your work. Have a question: Is it possible to reorder with multiple selection? Right now,  If I select multiple items and try to reorder them, only the first selected item will be reorder.

[2022-10-19 02:34] nosferatu500 opened #158 "Search items."
Hi again! Is it possible to implement search items like in this [library](https://frontend-collective.github.io/react-sortable-tree/?path=/story/basics--search) or any other search mode? Thanks!

[2022-10-20 01:33] nosferatu500 opened #159 "Unable to use with AntDesign"
**Describe the bug**
Crash when trying to use `<Dropdown><CustomNode/></Dropdown>` (Dropdown from [AntDesign](https://ant.design/components/dropdown))

**To Reproduce**
 - Wrap `<CustomNode />` from this [example](https://minop1205.github.io/react-dnd-treeview/?path=/docs/advanced-examples-multiple-drag--multiple-drag-story)
[code]

 - Click on tree item
 - Error with unable to read `id` is occur

[2022-10-23 05:50] Aagam41 opened #160 "Invalid hook call. Hooks can only be called inside of the body of a function component."
**Describe the bug**
Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You might be breaking the Rules of Hooks
3. You might have more than one copy of React in the same app
See https://reactjs.org/link/invalid-hook-call f

[2022-10-23 05:56] #160 closed, assigned to minop1205

[2022-10-24 10:09] nosferatu500 opened #161 "Multiple tree. Copy node."
Hello! I'd like to be able to copy a node rather than move it when dragging between trees.

Can I implement it on client side or it's required some changes in [react-dnd-treeview](https://github.com/minop1205/react-dnd-treeview)?

[2022-10-25 04:26] a-utkarsh commented on #129
Is there any update or any workaround for this, I need to know the index of an item where it inserted with respect to its parent in case of sortable false. @minop1205

Please update ASAP.

[2022-10-25 04:27] a-utkarsh commented on #129
is there anyway to add id to the li element? @minop1205

[2022-10-26 03:39] nosferatu500 commented on #159
For anyone who face the same issue:

The issue will be fixed if wrap `<CustomNode>` with `<div>`

Example:
[code]

[2022-10-26 03:39] #159 closed, assigned to minop1205

[2022-10-26 09:53] minop1205 commented on #129
Sorry everyone for misleading you with the README explanation.
First, let us discuss destinationIndex.

If the `sort` property of the tree is `false`, the order of the nodes follows the order of the data array.Therefore, reordering the nodes requires reordering the data array.

`destinationIndex` is not an index value relative to the parent node, but rather an index value indicating where in the d

[2022-10-30 11:53] EugeneLobski opened #162 "Dragging problem"
Hi, I have a recurring bug. Sometimes, after dragging one item, the drag function is disabled. The cursor goes into edit mode and does not allow you to grab any element. The bug disappears after collapsing-expanding the parent node.

**Screenshots**
https://user-images.githubusercontent.com/784452/198878057-f6691c34-0fc8-45b3-8c63-0988850a3a9d.mp4

**Desktop (please complete the following informat

[2022-10-30 21:10] minop1205 commented on #162
@EugeneLobski Thanks for the report.
What version of the package are you using? (e.g. @minoru/react-dnd-treeview@3.2.1)

If you are using an older version than the current latest version (v3.2.1), please check with the latest version.

[2022-10-31 06:43] minop1205 commented on #162
Merged: https://github.com/minop1205/react-dnd-treeview/pull/163

[2022-10-31 06:46] minop1205 commented on #162
@EugeneLobski I have fixed a code issue related to this problem. I have released a corrected package today as v3.2.2, so please install and try the latest version.

[code]

If you still have problems, please reopen this Issue.

Thanks for your report.

[2022-10-31 06:46] #162 closed, assigned to minop1205

[2022-10-31 19:17] santanamic opened #164 "Other elements are no longer dragged when Tree component is rendered"
**Describe the bug**
I'm trying to use other drag and drop components on the same screen as the treeview component.

However, for any custom HTML element that I set the `draggable` attribute to, the drag functionality is lost. This only happens when the treeview component is rendered in the same view.

**To Reproduce**
Try dragging some of the custom elements:
https://codesandbox.io/embed/minimum-

[2022-10-31 20:55] minop1205 commented on #164
@santanamic

This problem is caused by the dependency package `react-dnd`. The same issue is reported in the following Issue.

https://github.com/react-dnd/react-dnd/issues/3304

This problem can be avoided by specifying `rootElement` in the `DnDProvider` option and limiting the scope of `react-dnd`.
Please refer to the sample code we have created below.

https://codesandbox.io/s/issue164-zv2889?f

[2022-10-31 20:55] #164 closed, assigned to minop1205

[2022-11-01 16:22] hightgha commented on #129
@minop1205 in my case, i wanna to update order in database after reordering items.
Cuz destinationIndex is wrong, i'm calculating order in current lvl, by checking position in array. Ordering is applied in some lvl
For example:
1 Parent1
   1 Child1
   2 Child2
2 Parent2
3 Parent3
   1 Child1
   2 Child2

[2022-11-01 17:32] a-utkarsh commented on #129
@minop1205 Yes, I need to synchronize the tree sequence with the server.  Otherwise how will we know where the node is inserted when we are reordering within the same parent or different parent.
Anyway for those who are still stuck in this issue, I have found a workaround or hack you can say.
Here is the code for the same, You already have the drag node id and you can get the parent node of the sa

[2022-11-01 20:06] minop1205 commented on #129
@hightgha @a-utkarsh Thank you for your comment!

I have just released v3.3.
In this version, an option called relativeIndex is available in addition to destinationIndex.

The relativeIndex indicates the index relative to the parent node.
The relativeIndex is actually equivalent to the index of the placeholder.

Below is an image of how it works.

![2022-11-02_04h53_42](https://user-images.githubu

[2022-11-01 20:06] #129 closed, assigned to minop1205

[2022-11-02 13:15] gsavci opened #166 "Data order"
When I drag elements, they appear in the right place. But when I print to the console, the order get mixed up. How can I sync data in the same order as on the screen?
For example when I render my data it looks like it:

      Parent
	     Children 1
	     Children 2
                  Sub-children

But when I write data to console, the order is :

Sub-children, Parent, Children 1, Children 2.

How

[2022-11-02 23:05] minop1205 commented on #166
@gsavci The order of the tree is controlled by the `sort` property and `insertDroppableFirst`. See the README for details on these properties.

Setting both to` false`, as in the following example, will cause the order of the nodes to follow the order of the data array passed to the `tree` property.

[code]

[2022-11-03 06:49] gsavci commented on #166
First of all thanks for your quick answer.

Both sort and insertDroppableFirst properties are already set false.

[2022-11-03 09:22] minop1205 commented on #166
@gsavci

As it turns out, it is not possible to make the sequence of data exactly equivalent to the sequence on the display.
This is due to the display logic of the tree and is intentional, not a bug.

If the `sort` property and `insertDroppableFirst` are `false`, then children with the same parent are compared for order of occurrence, but Indexes on other nodes are ignored.

This is fine on the t

[2022-11-07 13:52] gsavci commented on #166
I want to use the structure I created with this component as a tree structure in a different component. So I need to know the proper order of children of a node.

[2022-11-08 07:59] #158 closed, assigned to minop1205

[2022-11-08 07:59] #156 closed, assigned to minop1205

[2022-11-08 08:00] #161 closed, assigned to minop1205

[2022-11-14 20:17] minop1205 commented on #166
@gsavci

I believe that a good way to address this issue is to create a custom function to reorder the tree data into an arbitrary order.

Create a custom function as follows

[code]

Apply this function in the `onDrop` callback.

[code]

![image](https://user-images.githubusercontent.com/3772820/201758090-becb4bd5-e9a6-472b-b673-2a4794086cc4.png)

See below for an actual sample.
https://codesandb

[2022-11-14 20:17] #166 closed, assigned to minop1205

[2022-11-15 12:34] chris-oms opened #167 "Expand transition animation like MUI Tree View"
**Is your feature request related to a problem? Please describe.**
The expanding of a parent item to display its child items does not include a grow/expand transition like the MUI TreeView component does. This makes it appear quite clunky. The way the child nodes are not nested inside the parent item and are only added to the DOM when open means adding the MUI Grow Util doesn't work.

**Describe t

[2022-11-22 05:18] percy507 opened #170 "[Feature] support show structure line"
There is an demo from MUI. https://mui.com/x/

<img width="1266" alt="image" src="https://user-images.githubusercontent.com/18365078/203227958-eff8a795-c22c-4e81-bb71-7a086c5568de.png">

[2022-11-24 12:44] percy507 commented on #170
Referable example: https://iamkate.com/code/tree-views/

[2022-11-24 21:26] minop1205 commented on #170
@percy507 Thank you for your suggestion.

In react-dnd-treeview, the implementation regarding appearance is left to the user of the library.

The structure line is the part related to appearance, where all kinds of designs exist.

Therefore, I do not include the implementation of the structure line in the library, but would like it to be done by the application that uses the library.

However, sin

[2022-11-29 02:31] minop1205 commented on #167
@chris-oms
Today I released v3.4.0.
This version adds the `enableAnimateExpand` API, which should give you the behavior you expect.

[code]

Please refer to this sample.
https://minop1205.github.io/react-dnd-treeview/?path=/docs/basic-examples-animateexpand--animate-expand-story

NOTE:
It is important to note that setting `enableAnimateExpand` to `true` will cause all hidden nodes to be rendered,

[2022-11-29 15:52] chris-oms commented on #167
@minop1205 Thanks for adding this, however the performance issues make it unusable for me. I believe MUI's tree view renders all nodes from the get go, so I'm not sure where the difference lies.

[2022-11-29 18:12] minop1205 commented on #167
@chris-oms How many nodes are there in total?
Also, can you provide JSON of the tree data to solve performance issues?

[2022-11-29 20:15] walpolsh opened #172 "Drag start issue"
**Describe the bug**
Dragging doesn't start the first time when you start to drag a node, and seems to grab the whole div without initiating the drag event?
https://user-images.githubusercontent.com/23249640/204638337-8f1839a5-c9c4-4612-90ea-dedb7eb35672.mov

**To Reproduce**
I copied a reduced example over to codesandbox but it works totally fine there:

[Codesandbox Example](https://codesandbox.

[2022-11-29 23:15] minop1205 commented on #172
@walpolsh What is the version of the package?
If it is not up-to-date, try the latest version.

[code]

[2022-11-30 00:55] walpolsh commented on #172
@minop1205 Sorry, forgot to mention in the OP.  I'm on 3.4.0 which should be the latest.

[2022-11-30 03:15] percy507 opened #173 "[Feature] support virtual list"
Consider of current tree structure is nested, I wonder if it is possible to support virtual list for the case which has lots of nodes. 😂

I have checked the tree structure of VSCode, they use flat style and it's easy to support virtual list.

[2022-11-30 13:51] walpolsh commented on #172
Actually, I've downgraded to 3.3.0 because I started getting this error after installing to 3.4.0. We don't use framer-motion, seems like its a dep for this package.

`./node_modules/framer-motion/dist/es/components/AnimatePresence/index.mjs
Can't import the named export 'Children' from non EcmaScript module (only default export is available)`

edit: ^ could this have something to do with react-sc

[2022-11-30 15:34] walpolsh commented on #172
So, I added this effect to the Tree's parent component to see if drag start was firing:
`  useEffect(() => {
    //drag events only occur when the false drag does.
    window.addEventListener("dragstart", (e) => console.log("drag start window", e));
    return () => window.removeEventListener("dragstart", (e) => console.log("removed"));
  }, []);`
  (^This only works locally for some reason, I add

[2022-11-30 16:57] walpolsh commented on #172
I may have found the root of this issue: there are multiple DndProviders on my local copy and I believe they are conflicting somehow. I've tried wrapping the whole app in just one DndProvider but the components using the
plain react-dnd library throw this error when using the MultiBackend:

[code]

The bug also remains when wrapping the individual components in separate providers. The only thing t